@charset "UTF-8"

*
  padding: 0
  margin: 0
  box-sizing: border-box
  &:before, &:after
    padding: 0
    margin: 0
    box-sizing: border-box

body
  font-family: "Colfax Regular", "Roboto", "Helvetica Neue", Arial, sans-serif
  font-size: 19px
  margin: 0
  padding: 0
  color: #333647
  line-height: 1.5
  background-color: #fff

h1, h2, h3, h4, h5, p
  margin: 0
  padding: 0

.header__container
  padding: 10.8px 15px
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  max-width: 1280px
  width: 100%
  height: auto
  li
    display: inline

.header__logo
  display: flex
  align-items: center
  .header__logo-img
    width: 90px
    height: 63px
    margin: 0 8px 0 0

.header__text
  vertical-align: middle
  font-size: 27px
  font-weight: 600

.neader__nav
  text-align: center
  .nav__link
    display: inline-block
    padding: 19.8px
    font-size: 19.8px
    cursor: pointer
    font-weight: 400
    &:hover
      color: #4094ED
      .test
        display: block

.test
  display: none
  background: red
  width: 100%
  max-height: 292px
  height: auto
  position: absolute
  right: 0
  top: 90px
  background-color: #FFF
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1)
  margin: 0 auto

.nav__container
  max-width: 1310px
  margin: 0 auto
  padding: 27px 0 22.5px
  display: flex

.nav_item
  color: #000
  padding: 13px 27px
  min-width: 380px
  width: auto
  height: auto
  text-align: left
  display: flex
  margin-right: 100px
  img
    display: block
  &:hover
    background: #ecf4fd

.nav__item-left
  margin-right: 22.5px

.nav__item-title
  font-size: 18px
  color: #333647
  font-weight: 600

.nav__item-subtitle
  font-size: 13.5px
  color: #95A4Ac

.menu__right
  position: relative
  min-width: 200px
  width: auto
  margin-bottom: 9px
  color: #333647
  text-align: left
  h4
    color: #333647
    font-weight: 600
    font-size: 13.5px
    margin: 13.5px 6.75px
  p
    font-size: 14.4px
    padding: 9px 9px
  img
    margin: 0 9px 0 0
  &:before
    content: ""
    position: absolute
    top: 40%
    left: -32px
    height: 100px
    border-right: 1px solid #D0DADD

.nav__items
  display: flex
  flex-wrap: wrap

.header__btn
  width: 135px
  height: 50.8px
  font-size: 18px
  text-align: center
  color: #333647
  border: 2px solid #333647
  border-radius: 2px
  text-decoration: none
  outline: none
  line-height: 1.3
  letter-spacing: 0.015rem
  padding: 0.85rem 2rem 0.7rem
  &:hover
    font-weight: 600

.container_card
  width: 281px
  height: 450px
  margin: 0 auto
  border: 1px solid #D0DADD
  border-radius: 4px
  text-align: center
  background-color: #fff

.card__top-inner
  min-width: 200px
  width: auto
  margin: 0 auto

.card__top
  height: 225px
  background-color: #E9F4FF
  position: relative
  z-index: 100
  &:after
    position: absolute
    content: ""
    // background-image: url("/assets/img/main-header/reliable-ba022c.png")
    background-image: url("/assets/img/card-logo.svg")
    background-repeat: no-repeat
    width: 26px
    height: 23px
    top: 17px
    right: 30px
  img
    width: 95px
    height: 95px
    border-radius: 50%
    margin-top: 40px
    z-index: 1
  .card__top-content
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 200px
    margin: 57px auto 0
  .card__name
    position: relative
    margin-right: 18px
    &:after
      content: "·"
      position: absolute
      font-size: 20px
      border-radius: 50%
      right: -12px
  .card_work
    font-weight: 400
    text-transform: capitalize
  .card__experience
    color: #4094ED
    font-size: 12.6px
    font-weight: 400
    margin: 0 20px
  .card__body
    font-size: 12.6px
    color: #95A4Ac
    margin: 6.3px 0 11.34px

.card__bottom
  position: relative
  overflow: hidden
  height: 225px
  img
    position: absolute
    left: -50%
    width: 110%
    height: 110%

.card__skills-inner
  display: flex
  flex-wrap: wrap
  justify-content: center

.card__skill
  background: #4094ED
  color: #FFF
  font-size: 12.6px
  padding: 3.78px 10.8px
  border-radius: 16px
  margin-right: 4px
  margin-bottom: 4px

.card__memberSince
  margin-top: 20px
  color: #95A4Ac
  font-size: 12.6px
  font-weight: 600
  text-transform: uppercase
  letter-spacing: 1.4px