<div class="container_card">
        <div class="card__inner">
            <div class="card__top">
                <div class="card__top-inner">
                    <div class="card__top-img">
                        <img src="img/card-img1.png" alt="">
                    </div>
                    <div class="card__top-content">
                        <h4 class="card__name">Jenn L</h4>
                        <p class="card_work">designer</p>
                        <p class="card__experience">4 year</p>
                        <p class="card__body">Cofounder of YC startup, EIR at the VR fund</p>
                        <div class="card__skills-inner">
                            <div class="card__skill">
                                <p>Photoshop</p>
                            </div>
                            <div class="card__skill">
                                <p>Sketch</p>
                            </div>
                            <div class="card__skill">
                                <p>Illustrator</p>
                            </div>
                        </div>

                        <p  class="card__memberSince">Teamgig since 2015</p>

                    </div>
                </div>
            </div>
            <div class="card__bottom">
                <img src="img/card-bg.svg" alt="">
            </div>
        </div>
    </div>