<div class="container" name="hq" data-reactid="394">
    <div class="Location__root___wHLSt row" data-reactid="395">
        <div class="col-12 col-sm-8 col-lg-6" data-reactid="396"><label data-reactid="397">{{content.label}}</label>
            <h2 data-reactid="398">{{content.title}}</h2>
            <p class="subheading" data-reactid="399">{{content.subText}}</p>
        </div>
        <div class="col-12 col-sm-4 col-lg-6" data-reactid="400"><a
                href="{{content.urls[0]}}"
                target="_blank" data-reactid="401">
                <address data-reactid="402">
                    <p *ngFor="let item of content.address" data-reactid="403">{{item}}</p>
                </address>
            </a></div>
        <div *ngFor="let item of content.locationImages; let i = index"
            [ngClass]="{'col-12 col-sm-4': i === 0, 'col-12 col-sm-8': i === 1}" data-reactid="407">
            <img src="{{item}}" class="Location__image___3jb33" alt="" data-reactid="408">
        </div>
    </div>
</div>