<div class="container" data-reactid="319">
    <div class="row" data-reactid="320">
        <form action="{{commonContent.common.urls[0]}}" method="POST"
            class="col-lg-9 col-md-12 col-sm-12 ContactForm__mb48___2l-i6" data-reactid="321">
            <div class="row" data-reactid="322"><input type="hidden" name="oid" value="00D6A000000t3dh"
                    data-reactid="323"><input type="hidden" name="retURL" value=""
                    data-reactid="324"><input type="hidden" id="lead_source" name="lead_source" value="Digital"
                    data-reactid="325"><input type="hidden" value="" name="00N6A00000PHCLT" data-reactid="326">
                <div *ngFor="let item of content.formItems; let i = index"
                    [ngClass]="[(i === 0 || i === 1) ? 'col-lg-6 col-md-6 col-sm-12 col-12' : 'col-lg-12 col-md-12 col-sm-12 col-12']"
                    data-reactid="327">
                    <div class="ContactForm__inputContainer___1W5No" data-reactid="328">
                        <div class="ContactForm__inputLabel___26JiQ" data-reactid="329"><label for="{{item.name}}"
                                data-reactid="330">{{item.title}}</label>
                            <div class="ContactForm__required___qPjBL" data-reactid="331"></div>
                        </div><input type="{{item.type}}" id="{{item.name}}" name="{{item.name}}"
                            class="ContactForm__input___9zduC" value="" data-reactid="332">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" data-reactid="363">
                    <div class="ContactForm__inputContainer___1W5No" data-reactid="364">
                        <div class="ContactForm__inputLabel___26JiQ" data-reactid="365"><label for="00N6A00000PHCLO"
                                data-reactid="366">{{commonContent.common.labels[0]}}</label>
                            <div class="ContactForm__required___qPjBL" data-reactid="367"></div>
                        </div><textarea id="00N6A00000PHCLO" name="00N6A00000PHCLO" class="ContactForm__input___9zduC"
                            data-reactid="368"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" data-reactid="369">
                    <div class="ContactForm__inputContainer___1W5No" data-reactid="370">
                        <div class="ContactForm__inputLabel___26JiQ" data-reactid="371"><label for="00N6A00000PHVtG"
                                data-reactid="372">{{commonContent.common.labels[1]}}</label>
                            <div class="ContactForm__required___qPjBL" data-reactid="373"></div>
                        </div>
                        <div class="ContactForm__w100___3-f9o" data-reactid="374"><select name="00N6A00000PHVtG"
                                class="ContactForm__select___20ooA" data-reactid="375">
                                <option selected="" value="" data-reactid="376"></option>
                                <option value="{{commonContent.common.amounts[0]}}" data-reactid="377">{{commonContent.common.amounts[0]}}</option>
                                <option value="{{commonContent.common.amounts[1]}}" data-reactid="378">{{commonContent.common.amounts[1]}}</option>
                                <option value="{{commonContent.common.amounts[2]}}" data-reactid="379">{{commonContent.common.amounts[2]}}</option>
                                <option value="{{commonContent.common.amounts[3]}}" data-reactid="380">{{commonContent.common.amounts[3]}}</option>
                            </select><span class="ContactForm__dropdown___2YbZ-" data-reactid="381"></span></div>
                    </div>
                </div>
                <div class="ContactForm__w100___3-f9o ContactForm__mb16___COh4L" data-reactid="382">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12" data-reactid="383">
                        <div class="ContactForm__inputLabel___26JiQ" data-reactid="384"><label data-reactid="385">{{commonContent.common.labels[2]}}</label></div>
                        <div *ngFor="let item of content.checkBoxItems" data-reactid="386"><label
                                class="ContactForm__labelCheckbox___1TiMg" data-reactid="387"><input type="checkbox"
                                    name="expertise-web-checked" class="ContactForm__checkbox___2kbVL"
                                    data-reactid="388" value="on">
                                {{item}}
                            </label></div>
                    </div>
                </div>
            </div><button title="Submit" disabled="" type="submit" class="btn btn-disabled blue   "
                data-reactid="418"><span class="text" title="Submit" data-reactid="419">{{commonContent.common.button}}</span></button>
        </form>
        <div class="ContactForm__contactCards___3bq8K col-lg-3 col-md-12 col-sm-12 col-12" data-reactid="420">
            <div class="ContactCard__root___2yIed" data-reactid="421">
                <div data-for="contact-toolip-Call" data-tip="" class="ContactCard__contactCard___1LIi3"
                    data-reactid="422">
                    <div class="ContactCard__iconContainer___2KrhO" data-reactid="423"><img
                            class="ContactCard__icon___2l2QU"
                            src="/assets/img/phone_icon.png"
                            alt="phone" data-reactid="424"></div>
                    <h2 data-reactid="425">{{commonContent.common.call[0]}}</h2>
                    <div class="ContactForm__contactButton___1VjdX ContactForm__contactPhoneButton___2xkjo">
                            {{commonContent.common.call[1]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>