<div class="Home__root___19cDS root" data-reactid="313">
    <div class="index__heroContainer___1NCyW" data-reactid="315">
        <div *ngFor="let mainImageItem of content.hero.mainImages; let i = index"
            [ngClass]="{'index__active___2FdLJ': i === count}" class="index__hero___3bohk "
            [ngStyle]="{ 'background-image': 'url(' + mainImageItem + ')'}"></div>
        <section class="container index__heroContent___3EYVO" data-reactid="322">
            <div class="row" data-reactid="323">
                <div class="col-lg-12 width-100" data-reactid="324">
                    <h1 data-reactid="325"><strong data-reactid="326">{{content.hero.mainTitle}}</strong><br
                            data-reactid="327">
                    </h1>
                    <div class="index__subtext___1R0ur" data-reactid="328"><strong
                            data-reactid="329">{{content.hero.subText.strong}}</strong>
                        {{content.hero.subText.common}}
                    </div>
                    <div class="index__ctaContainer___1_UfF" data-reactid="333"><button routerLink="/contact-us"
                            title="Contact us" type="button" class="btn btn-huge blue   index__start___X2462"
                            id="clickTestId" data-reactid="334"><img class="customIcon"
                                src="{{content.hero.buttonIcon}}" alt="" data-reactid="335"><span class="text"
                                title="Contact us" data-reactid="336">{{content.hero.buttonTitle}}</span></button></div>
                    <div class="index__ctaSubText___3ywx2" data-reactid="337">{{content.hero.subButtonText}}
                    </div>
                    <div class="index__heroIconsContainer___f8OC0" data-reactid="338">
                        <ul class="index__heroIcons___1b91d" data-reactid="339">
                            <li class="index__heroIcon___2JE3L" style="opacity: 0; transform: translateX(-450px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[0].icon}}"
                                        alt="{{content.hero.heroIcons[0].title}}"></span><span>{{content.hero.heroIcons[0].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 0; transform: translateX(-300px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[1].icon}}"
                                        alt="{{content.hero.heroIcons[1].title}}"></span><span>{{content.hero.heroIcons[1].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 0; transform: translateX(-150px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[2].icon}}"    
                                        alt="{{content.hero.heroIcons[2].title}}"></span><span>{{content.hero.heroIcons[2].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 1; transform: translateX(0px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[3].icon}}"    
                                        alt="{{content.hero.heroIcons[3].title}}"></span><span>{{content.hero.heroIcons[3].title}}</span></li>
                            <li class="index__heroIcon___2JE3L"
                                style="opacity: 1; transform: translateX(150px); cursor: pointer;">
                                <span class="index__heroIconLinkBg___TeEBB index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[4].icon}}"    
                                        alt="{{content.hero.heroIcons[4].title}}"></span><span>{{content.hero.heroIcons[4].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 1; transform: translateX(300px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[0].icon}}"    
                                        alt="{{content.hero.heroIcons[0].title}}"></span><span>{{content.hero.heroIcons[0].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 0; transform: translateX(450px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[1].icon}}"    
                                        alt="{{content.hero.heroIcons[1].title}}"></span><span>{{content.hero.heroIcons[1].title}}</span></li>
                            <li class="index__heroIcon___2JE3L" style="opacity: 0; transform: translateX(600px);"><span
                                        class="index__heroIconBg___BVsvE"><img
                                        src="{{content.hero.heroIcons[2].icon}}"    
                                        alt="{{content.hero.heroIcons[2].title}}"></span><span>{{content.hero.heroIcons[1].title}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container index__root___2-uXM" data-reactid="364">
        <div class="slick faded" dir="ltr" data-reactid="365">
            <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 1150px; position: relative; left: 0px; opacity: 0; transition: opacity 1000ms ease 0s, visibility 1000ms ease 0s;"
                data-reactid="368">
                <div data-reactid="369">
                    <div class="index__set4___1SL3s" tabindex="-1" style="width:100%;display:inline-block;"
                        data-reactid="370">
                        <label data-reactid="371">{{content.slider.mainTitle_1}}</label>
                        <div *ngFor="let slideImg of content.slider.brandsIcons[0]" class="" data-reactid="351"><img
                                src={{slideImg}} alt="Staples" data-reactid="352"></div>
                    </div>
                </div>
            </div>
            <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 1150px; position: relative; left: -1150px; opacity: 0; transition: opacity 1000ms ease 0s, visibility 1000ms ease 0s;"
                data-reactid="382">
                <div data-reactid="383">
                    <div class="index__set1___9TzUY" tabindex="-1" style="width:100%;display:inline-block;"
                        data-reactid="384">
                        <label data-reactid="385">{{content.slider.mainTitle_2}}</label>
                        <div *ngFor="let slideImg of content.slider.brandsIcons[1]" class="" data-reactid="351"><img
                                src={{slideImg}} alt="Staples" data-reactid="352"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-bottom" data-reactid="424">
    <div class="index__root___44JSh" data-reactid="425">
        <div class="container index__intelligenceContainer___2-NLE" data-reactid="426">
            <h2 class="index__headline___2xh0B" data-reactid="427">
                <!-- react-text: 428 -->{{content.intelligence.mainTitle.common}}
                <!-- /react-text --><span data-reactid="429"><br data-reactid="430"><strong
                        data-reactid="431">{{content.intelligence.mainTitle.strong}}</strong>
                </span></h2><span class="index__subtext___2a7jU" data-reactid="432">
                <!-- react-text: 433 -->{{content.intelligence.subText.part_1}}
                <!-- /react-text --><br data-reactid="434">{{content.intelligence.subText.part_2}}
                <!-- /react-text --></span>
            <ul class="row index__attributes___CLyFR" data-reactid="436">
                <li *ngFor="let item of content.intelligence.subIconItems" class="col-6 col-sm-3" data-reactid="437">
                    <span class="index__iconContainer___Xb1Ct" data-reactid="438"><img src="{{item.subIcon}}"
                            alt="Expert" data-reactid="439"></span><span class="index__attributeName___3lzi2"
                        data-reactid="440">{{item.subIconTitle}}</span><span class="index__attributeDescription___20gS7"
                        data-reactid="441">{{item.subIconSubtext}}</span></li>
            </ul>
        </div>
    </div>
    <div (window:scroll)="startFlag && startCount($event)" class="container index__wrapper___z1e3T" data-reactid="457">
        <div class="index__networkContainer___3I3EW" data-reactid="458">
            <div class="col-12 col-md-6 index__talentContainer___2wxJV" data-reactid="459">
                <h2 class="index__title___3vf_y" data-reactid="460">{{content.talents.network.label}}</h2><span
                    class="index__headline___2f9Yf" data-reactid="461">
                    <!-- react-text: 462 -->{{content.talents.network.mainTitle.common}}
                    <!-- /react-text --><span data-reactid="463"><br data-reactid="464"><strong
                            data-reactid="465">{{content.talents.network.mainTitle.strong}}</strong>
                    </span></span><span class="index__subtext___chZ2N"
                    data-reactid="466">{{content.talents.network.subText}}</span>
                <div class="index__benefit___33n1m" data-reactid="467"><img src="{{content.talents.network.icon}}"
                        alt="icon" data-reactid="468"><span
                        data-reactid="469">{{content.talents.network.iconTitle}}</span></div>
                <div class="index__talentSlider___2pna5" data-reactid="470">
                    <div data-reactid="471">
                        <div class="slick talent" dir="ltr" data-reactid="472">
                            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                                aria-hidden="false" style="outline: none; width: 509px;" data-reactid="476">
                                <div data-reactid="477">
                                    <div class="TalentCard__talentCard___1lDhy TalentCard__center___3H37_ TalentCard__compact___jrHQq"
                                        style="background-image:url(&quot;/assets/img/main/card_bg.svg&quot;);"
                                        data-reactid="478">
                                        <div class="TalentCard__teamgigLogo___30u9Z undefined"
                                        style="background-image:url(&quot;/assets/img/main/card_icon.svg&quot;);"
                                            data-reactid="479"></div>
                                        <div class="TalentCard__avatar___a2qh1"
                                            [ngStyle]="{ 'background-image': 'url(/assets/img/solutions/author_ico_1.jpg)'}"
                                            data-reactid="480"></div>
                                        <div class="TalentCard__name___3vwwx" data-reactid="481">Paul S.</div>
                                        <div class="TalentCard__role___kRHDA" data-reactid="482">Product Manager
                                        </div>
                                        <div class="TalentCard__experience___3i6VF" data-reactid="483">20 years
                                        </div>
                                        <div class="TalentCard__bodyWrapper___13gzA" data-reactid="484">
                                            <div class="TalentCard__body___276ml" data-reactid="485">
                                                Entrepreneurial executive. Former VP of Product. Worked at
                                                Amazon and Facebook.</div>
                                        </div>
                                        <ul class="TalentCard__skillsWrapper___2q1tk" data-reactid="486">
                                            <li data-reactid="487">Program Mgmt</li>
                                            <li data-reactid="488">Product Strategy</li><br data-reactid="489">
                                            <li data-reactid="490">Lean Canvas</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                                style="outline: none; width: 509px;" data-reactid="491">
                                <div data-reactid="492">
                                    <div class="TalentCard__talentCard___1lDhy TalentCard__center___3H37_ TalentCard__compact___jrHQq"
                                        style="background-image:url(&quot;/assets/img/main/card_bg.svg&quot;);"
                                        data-reactid="493">
                                        <div class="TalentCard__teamgigLogo___30u9Z undefined"
                                            style="background-image:url(&quot;/assets/img/main/card_icon.svg&quot;);"
                                            data-reactid="494"></div>
                                        <div class="TalentCard__avatar___a2qh1"
                                            [ngStyle]="{ 'background-image': 'url(/assets/img/solutions/author_ico_2.jpg)'}"
                                            data-reactid="495"></div>
                                        <div class="TalentCard__name___3vwwx" data-reactid="496">Jocelyn J.
                                        </div>
                                        <div class="TalentCard__role___kRHDA" data-reactid="497">Designer</div>
                                        <div class="TalentCard__experience___3i6VF" data-reactid="498">12 years
                                        </div>
                                        <div class="TalentCard__bodyWrapper___13gzA" data-reactid="499">
                                            <div class="TalentCard__body___276ml" data-reactid="500">Senior
                                                design director with experience in product and creative design.
                                                Previously, led design at Twilio and Silicon Valley startups.
                                            </div>
                                        </div>
                                        <ul class="TalentCard__skillsWrapper___2q1tk" data-reactid="501">
                                            <li data-reactid="502">Iterative Design</li>
                                            <li data-reactid="503">Protoyping</li><br data-reactid="504">
                                            <li data-reactid="505">UI/UX</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true"
                                style="outline: none; width: 509px;" data-reactid="506">
                                <div data-reactid="507">
                                    <div class="TalentCard__talentCard___1lDhy TalentCard__center___3H37_ TalentCard__compact___jrHQq"
                                        style="background-image:url(&quot;/assets/img/main/card_bg.svg&quot;);"
                                        data-reactid="508">
                                        <div class="TalentCard__teamgigLogo___30u9Z undefined"
                                            style="background-image:url(&quot;/assets/img/main/card_icon.svg&quot;);"
                                            data-reactid="509"></div>
                                        <div class="TalentCard__avatar___a2qh1"
                                            [ngStyle]="{ 'background-image': 'url(/assets/img/solutions/author_ico_3.jpg)'}"
                                            data-reactid="510"></div>
                                        <div class="TalentCard__name___3vwwx" data-reactid="511">Kevin G.</div>
                                        <div class="TalentCard__role___kRHDA" data-reactid="512">Software
                                            Engineer</div>
                                        <div class="TalentCard__experience___3i6VF" data-reactid="513">11 years
                                        </div>
                                        <div class="TalentCard__bodyWrapper___13gzA" data-reactid="514">
                                            <div class="TalentCard__body___276ml" data-reactid="515">Ex-Uber
                                                senior software engineer. Core developer for open-source
                                                framework.</div>
                                        </div>
                                        <ul class="TalentCard__skillsWrapper___2q1tk" data-reactid="516">
                                            <li data-reactid="517">Node</li>
                                            <li data-reactid="518">Python</li><br data-reactid="519">
                                            <li data-reactid="520">React Native</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 index__skillsContainer___DL8mb" data-reactid="522">
                <h2 class="index__title___3vf_y" data-reactid="523">{{content.talents.expertise.label}}</h2><span
                    class="index__headline___2f9Yf" data-reactid="524">
                    <!-- react-text: 525 -->{{content.talents.expertise.mainTitle.common}}
                    <!-- /react-text --><span data-reactid="526"><br data-reactid="527"><strong
                            data-reactid="528">{{content.talents.expertise.mainTitle.strong}}</strong>
                    </span></span><span class="index__subtext___chZ2N"
                    data-reactid="529">{{content.talents.expertise.subText}}</span>
                <div class="index__benefit___33n1m" data-reactid="530"><img src="{{content.talents.expertise.icon}}"
                        alt="icon" data-reactid="531"><span
                        data-reactid="532">{{content.talents.expertise.iconTitle}}</span></div>
                <div class="index__networkList___-ueA8 index__skills___3vpHv" data-reactid="533">
                    <div *ngFor="let item of content.talents.expertise.subGroups" class="index__skillsGroup___1NRBK"
                        data-reactid="534"><span class="index__heading___3jKF-" data-reactid="535"><img
                                class="index__icon____6eK0" src="{{item.icon}}" alt="Artificial Intelligence"
                                data-reactid="536"><span class="index__text___3OQMA"
                                data-reactid="537">{{item.title}}</span></span>
                        <ul data-reactid="538">
                            <li *ngFor="let skil of item.skils" class="index__text___3OQMA" data-reactid="539">{{skil}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="index__snapshotContainer___3WO_y" data-reactid="566">
            <div class="Snapshot__root___2UKNh  Snapshot__noBottom___kPYhf" data-reactid="567">
                <div class="container" data-reactid="568">
                    <div class="Snapshot__wrapper___1QhAb" data-reactid="569">
                        <div class="row" data-reactid="570">
                            <div class="col-12" data-reactid="571"></div>
                        </div>
                        <div class="row Snapshot__children___1nV9k" data-reactid="572">
                            <div *ngFor="let item of content.talents.stats; let i = index" class="col-4 col-sm-4"
                                data-reactid="573">
                                <div class="Snapshot__border___20_i1" data-reactid="574"><span
                                        data-reactid="575"></span>
                                    <div data-reactid="576">
                                        <h2 id="developers" data-reactid="577">{{realTime[i]}}+</h2>
                                        <p data-reactid="578">{{item.skil}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index__ctaContainer___2H08_" data-reactid="591"><a title="{{content.talents.buttonTitle}}" type=""
                class="btn btn-secondary blue   home-cta" target="" routerLink="/platform/talent"
                data-reactid="592"><img class="customIcon" src="{{content.talents.buttonIcon}}" alt=""
                    data-reactid="593"><span class="text" title="Meet the Teamgig Talent Network"
                    data-reactid="594">{{content.talents.buttonTitle}}</span></a></div>
    </div>
    <hr class="hr-bottom" data-reactid="595">
    <div class="index__wrapper___1oqDC" data-reactid="596">
        <div class="index__container___PB0jq" data-reactid="597">
            <div class="container" data-reactid="598">
                <h2 class="index__headline___50lq9" data-reactid="599">
                    <!-- react-text: 600 -->{{content.company.mainTitle.common}}
                    <!-- /react-text --><span data-reactid="601"><br data-reactid="602"><strong
                            data-reactid="603">{{content.company.mainTitle.strong}}</strong></span></h2>
            </div>
            <div class="container" data-reactid="604"></div>
            <div class="container index__companies___2D7Ok" data-reactid="605">
                <div *ngFor="let item of content.company.score" class="Company__container___2DKyV" data-reactid="606"><a
                        class="Company__link___2MYMO" href="/clients/pib" data-reactid="607"><img
                            class="Company__img___2hgRr" src="{{item.scoreIcon}}" alt="PIB" data-reactid="608"><span
                            class="Company__name___wRFSg" data-reactid="609">{{item.title}}</span><span
                            class="Company__subtext___25ugb" data-reactid="610">{{item.subText}}</span></a></div>
            </div>
        </div>
        <div class="container index__ctaContainer___2tNbP" data-reactid="616"><a title="See our client stories" type=""
                class="btn btn-secondary blue   home-cta" target="" routerLink="/clients/clients" data-reactid="617"><img
                    class="customIcon" src="{{content.company.buttonIcon}}" alt="" data-reactid="618"><span class="text"
                    title="See our client stories" data-reactid="619">{{content.company.buttonTitle}}</span></a></div>
    </div>
    <hr class="hr-bottom" data-reactid="620">
    <div class="app-why">
        <app-why-shared [content]="whyContent?.why"></app-why-shared>
    </div>    
    <hr class="hr-bottom" data-reactid="620">
    <div class="container index__root___1UtxS" data-reactid="621">
        <div name="technology" data-reactid="622"></div>
        <h2 class="index__headline___2oD0_" data-reactid="623">
            <!-- react-text: 624 -->{{content.technology.mainTitle.common}}
            <!-- /react-text --><span data-reactid="625"><br data-reactid="626"><strong
                    data-reactid="627">{{content.technology.mainTitle.strong}}</strong>
            </span></h2><span class="index__subtext___13eZp" data-reactid="628">{{content.technology.subText}}</span>
        <div class="index__sections___3uy2t" data-reactid="629">
            <div class="index__section___22Y-P index__green___1kfn-" data-reactid="630"><span
                    class="index__title___2d1hB" data-reactid="631">{{content.technology.cards[0].title}}</span><span
                    class="index__text___3YG-c" data-reactid="632">{{content.technology.cards[0].subText}}
                    roadblocks</span><img class="index__icon___3Pw7o" src="{{content.technology.cards[0].icon}}"
                    alt="Project Health" data-reactid="633"></div>
            <div class="index__section___22Y-P index__blue___bmJm3" data-reactid="634"><span
                    class="index__title___2d1hB" data-reactid="635">{{content.technology.cards[1].title}}</span><span
                    class="index__text___3YG-c" data-reactid="636">{{content.technology.cards[1].subText}}</span><img
                    class="index__icon___3Pw7o" src="{{content.technology.cards[1].icon}}" alt="Karma"
                    data-reactid="637"></div>
            <div class="index__section___22Y-P index__orange___1ogs4" data-reactid="638"><span
                    class="index__title___2d1hB" data-reactid="639">{{content.technology.cards[2].title}}</span><span
                    class="index__text___3YG-c" data-reactid="640">{{content.technology.cards[2].subText}}</span><img
                    class="index__icon___3Pw7o" src="{{content.technology.cards[2].icon}}" alt="Project Planner"
                    data-reactid="641"></div>
        </div>
    </div>
    <hr class="hr-bottom" data-reactid="642">
    <section class="container index__root___3T32_" data-reactid="643">
        <div class="row" data-reactid="644">
            <div class="col-12" data-reactid="645">
                <h2 class="index__title___1mJBs" data-reactid="646">{{content.highlight.label}}</h2><span
                    class="index__headline___3nl2V" data-reactid="647">
                    <!-- react-text: 648 -->{{content.highlight.mainTitle.common}}
                    <!-- /react-text --><br data-reactid="649"><strong
                        data-reactid="650">{{content.highlight.mainTitle.strong}}</strong></span>
            </div>
        </div>
        <div class="slider multiple-items slick slick-slider slick-dotted" dir="ltr" data-reactid="651">
            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
                style="outline: none; width: 384px;" data-reactid="655">
                <div data-reactid="656"><a
                        href="{{content.urls[0]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="657">
                        <div class="index__slide___1n0YB" data-reactid="658">
                            <div class="index__image___1m17B" data-reactid="659"><img
                                    src="/assets/img/main/brand_slider_1.png"
                                    alt="Press Highlight" data-reactid="660"></div>
                            <p data-reactid="661">{{content.sliderText[0]}}</p>
                            <div class="index__info___1CkRI" data-reactid="662"><span data-reactid="663">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="664"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                style="outline: none; width: 384px;" data-reactid="665">
                <div data-reactid="666"><a
                        href="{{content.urls[1]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="667">
                        <div class="index__slide___1n0YB" data-reactid="668">
                            <div class="index__image___1m17B" data-reactid="669"><img src="/assets/img/main/brand_slider_2.png"
                                    alt="Press Highlight" data-reactid="670">
                            </div>
                            <p data-reactid="671">{{content.sliderText[1]}}</p>
                            <div class="index__info___1CkRI" data-reactid="672"><span data-reactid="673">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="674"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                style="outline: none; width: 384px;" data-reactid="675">
                <div data-reactid="676"><a href="{{content.urls[2]}}" class="index__wrapper___30yDo"
                        target="_blank" tabindex="-1" style="width:100%;display:inline-block;" data-reactid="677">
                        <div class="index__slide___1n0YB" data-reactid="678">
                            <div class="index__image___1m17B" data-reactid="679"><img src="/assets/img/main/brand_slider_3.png"
                                    alt="Press Highlight" data-reactid="680">
                            </div>
                            <p data-reactid="681">{{content.sliderText[2]}}</p>
                            <div class="index__info___1CkRI" data-reactid="682"><span data-reactid="683">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="684"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="685">
                <div data-reactid="686"><a href="{{content.urls[3]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="687">
                        <div class="index__slide___1n0YB" data-reactid="688">
                            <div class="index__image___1m17B" data-reactid="689"><img
                                src="/assets/img/main/brand_slider_4.png"    
                                    alt="Press Highlight" data-reactid="690"></div>
                            <p data-reactid="691">{{content.sliderText[3]}}</p>
                            <div class="index__info___1CkRI" data-reactid="692"><span data-reactid="693">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="694"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="695">
                <div data-reactid="696"><a
                        href="{{content.urls[4]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="697">
                        <div class="index__slide___1n0YB" data-reactid="698">
                            <div class="index__image___1m17B" data-reactid="699"><img
                                src="/assets/img/main/brand_slider_5.png"    
                                    alt="Press Highlight" data-reactid="700"></div>
                            <p data-reactid="701">{{content.sliderText[4]}}</p>
                            <div class="index__info___1CkRI" data-reactid="702"><span data-reactid="703">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="704"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="9" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="745">
                <div data-reactid="746"><a
                        href="{{content.urls[5]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="747">
                        <div class="index__slide___1n0YB" data-reactid="748">
                            <div class="index__image___1m17B" data-reactid="749"><img
                                src="/assets/img/main/brand_slider_6.jpg"    
                                    alt="Press Highlight" data-reactid="750"></div>
                            <p data-reactid="751">{{content.sliderText[5]}}</p>
                            <div class="index__info___1CkRI" data-reactid="752"><span data-reactid="753">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="754"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="10" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="755">
                <div data-reactid="756"><a href="{{content.urls[6]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="757">
                        <div class="index__slide___1n0YB" data-reactid="758">
                            <div class="index__image___1m17B" data-reactid="759"><img
                                src="/assets/img/main/brand_slider_7.png"    
                                    alt="Press Highlight" data-reactid="760"></div>
                            <p data-reactid="761">{{content.sliderText[6]}}</p>
                            <div class="index__info___1CkRI" data-reactid="762"><span data-reactid="763">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="764"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="11" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="765">
                <div data-reactid="766"><a
                        href="{{content.urls[7]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="767">
                        <div class="index__slide___1n0YB" data-reactid="768">
                            <div class="index__image___1m17B" data-reactid="769"><img
                                src="/assets/img/main/brand_slider_8.png"    
                                    alt="Press Highlight" data-reactid="770"></div>
                            <p data-reactid="771">{{content.sliderText[7]}}</p>
                            <div class="index__info___1CkRI" data-reactid="772"><span data-reactid="773">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="774"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="12" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="775">
                <div data-reactid="776"><a href="{{content.urls[8]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="777">
                        <div class="index__slide___1n0YB" data-reactid="778">
                            <div class="index__image___1m17B" data-reactid="779"><img
                                src="/assets/img/main/brand_slider_9.png"    
                                    alt="Press Highlight" data-reactid="780"></div>
                            <p data-reactid="781">{{content.sliderText[8]}}
                            </p>
                            <div class="index__info___1CkRI" data-reactid="782"><span data-reactid="783">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="784"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="13" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="785">
                <div data-reactid="786"><a href="{{content.urls[9]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="787">
                        <div class="index__slide___1n0YB" data-reactid="788">
                            <div class="index__image___1m17B" data-reactid="789"><img
                                src="/assets/img/main/brand_slider_10.svg"    
                                    alt="Press Highlight" data-reactid="790"></div>
                            <p data-reactid="791">{{content.sliderText[9]}}</p>
                            <div class="index__info___1CkRI" data-reactid="792"><span data-reactid="793">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="794"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="14" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="795">
                <div data-reactid="796"><a
                        href="{{content.urls[10]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="797">
                        <div class="index__slide___1n0YB" data-reactid="798">
                            <div class="index__image___1m17B" data-reactid="799"><img
                                src="/assets/img/main/brand_slider_11.svg"    
                                    alt="Press Highlight" data-reactid="800"></div>
                            <p data-reactid="801">{{content.sliderText[10]}}</p>
                            <div class="index__info___1CkRI" data-reactid="802"><span data-reactid="803">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="804"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="15" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="805">
                <div data-reactid="806"><a href="{{content.urls[11]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="807">
                        <div class="index__slide___1n0YB" data-reactid="808">
                            <div class="index__image___1m17B" data-reactid="809"><img
                                src="/assets/img/main/brand_slider_1.png"    
                                    alt="Press Highlight" data-reactid="810"></div>
                            <p data-reactid="811">{{content.sliderText[11]}}</p>
                            <div class="index__info___1CkRI" data-reactid="812"><span data-reactid="813">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="814"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="16" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="815">
                <div data-reactid="816"><a
                        href="{{content.urls[12]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="817">
                        <div class="index__slide___1n0YB" data-reactid="818">
                            <div class="index__image___1m17B" data-reactid="819"><img
                                src="/assets/img/main/brand_slider_5.png"    
                                    alt="Press Highlight" data-reactid="820"></div>
                            <p data-reactid="821">{{content.sliderText[12]}}</p>
                            <div class="index__info___1CkRI" data-reactid="822"><span data-reactid="823">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="824"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="18" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="835">
                <div data-reactid="836"><a href="{{content.urls[13]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="837">
                        <div class="index__slide___1n0YB" data-reactid="838">
                            <div class="index__image___1m17B" data-reactid="839"><img
                                src="/assets/img/main/brand_slider_4.png"    
                                    alt="Press Highlight" data-reactid="840"></div>
                            <p data-reactid="841">{{content.sliderText[13]}}</p>
                            <div class="index__info___1CkRI" data-reactid="842"><span data-reactid="843">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="844"></div>
                        </div>
                    </a></div>
            </div>
            <div data-index="19" class="slick-slide" tabindex="-1" aria-hidden="true"
                style="outline: none; width: 384px;" data-reactid="845">
                <div data-reactid="846"><a href="{{content.urls[14]}}"
                        class="index__wrapper___30yDo" target="_blank" tabindex="-1"
                        style="width:100%;display:inline-block;" data-reactid="847">
                        <div class="index__slide___1n0YB" data-reactid="848">
                            <div class="index__image___1m17B" data-reactid="849"><img
                                src="/assets/img/main/brand_slider_7.png"    
                                    alt="Press Highlight" data-reactid="850"></div>
                            <p data-reactid="851">{{content.sliderText[14]}}</p>
                            <div class="index__info___1CkRI" data-reactid="852"><span data-reactid="853">{{content.viewButton}}</span><img
                                    src="/assets/img/main/brands_slider_arrow.svg"
                                    alt="arrow" data-reactid="854"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr-bottom" data-reactid="856">
    <div class="Home__getStartedContainer___v1ADB" data-reactid="857">
        <div class="CallToAction__root___1zXH_ row undefined"
            style="background-image:url(&quot;/assets/img/main/sales_link_image.svg&quot;);" data-reactid="858">
            <div class="col-12" data-reactid="859">
                <h2 data-reactid="860">{{content.contact.mainTitle}}</h2>
                <div class="CallToAction__buttons___EkLpP" data-reactid="861"><button title="Contact Us" type="button"
                        class="btn btn-primary blue" routerLink="/contact-us" data-reactid="862"><span class="text"
                            title="Contact Us" data-reactid="863">{{content.contact.buttonTitle}}</span></button></div>
                <span class="Home__salesLink___1qf7o" data-reactid="864"><span data-reactid="865">or</span><a
                        href="mailto:sales@teamgig.com" data-reactid="866">email sales</a></span>
            </div>
        </div>
    </div>
    <div class="index__root___1kJFz" data-reactid="867">
        <div class="container index__container___3U9gn" data-reactid="868">
            <div class="row" data-reactid="869">
                <div class="col-12 col-sm-6 index__career___2rrEM" data-reactid="870"><img class="col-sm-3 col-lg-2"
                        src="{{content.career.careerItems[0].icon}}" alt="icon" data-reactid="871">
                    <div class="col-12 col-sm-9 col-lg-10 index__careerInfo___2WHyX" data-reactid="872"><span
                            class="index__title___KD8kX"
                            data-reactid="873">{{content.career.careerItems[0].label}}</span>
                        <h2 class="index__headline___1SzSW" data-reactid="874">
                            <!-- react-text: 875 -->{{content.career.careerItems[0].mainTitle.common}}
                            <!-- /react-text --><span data-reactid="876"><br data-reactid="877"><strong
                                    data-reactid="878">{{content.career.careerItems[0].mainTitle.strong}}</strong></span>
                        </h2><span class="index__subtext___12VRl"
                            data-reactid="879">{{content.career.careerItems[0].subText}}</span><a
                            title="Join Teamgig Team" type="" class="btn btn-secondary blue   home-cta" target=""
                            href="/company/careers" data-reactid="880"><span class="text"
                                title="{{content.career.careerItems[0].buttonTitle}}"
                                data-reactid="881">{{content.career.careerItems[0].buttonTitle}}</span></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 index__career___2rrEM" data-reactid="882"><img class="col-sm-3 col-lg-2"
                        src="{{content.career.careerItems[1].icon}}" alt="icon" data-reactid="883">
                    <div class="col-12 col-sm-9 col-lg-10 index__careerInfo___2WHyX" data-reactid="884"><span
                            class="index__title___KD8kX"
                            data-reactid="885">{{content.career.careerItems[1].label}}</span>
                        <h2 class="index__headline___1SzSW" data-reactid="886">
                            <!-- react-text: 887 -->{{content.career.careerItems[1].mainTitle.common}}
                            <!-- /react-text --><span data-reactid="888"><br data-reactid="889"><strong
                                    data-reactid="890">{{content.career.careerItems[1].mainTitle.strong}}</strong></span>
                        </h2><span class="index__subtext___12VRl"
                            data-reactid="891">{{content.career.careerItems[1].subText}}</span><a
                            href="{{content.urls[15]}}"
                            title="Join Teamgig Talent Network" type="" class="btn btn-secondary blue   home-cta"
                            target="" data-reactid="892"><span class="text"
                                title="{{content.career.careerItems[1].buttonTitle}}"
                                data-reactid="893">{{content.career.careerItems[1].buttonTitle}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>