.pos-r
  display: block
  position: relative

.pos-a
  display: block
  position: absolute

ul.PrimaryNav__menu___11wIl
  li.active-link
    transition: color 0.25s ease-out
    color: #4094ED!important

a[routerlink], a[ng-reflect-router-link]
  border-bottom: none

.MobileNav__secondaryNavItem___2N6IK
  font-size: 12px!important 

.activeLink
  color: #4094ED
