<header [ngClass]="{'pos-r': router.url && router.url != '/' }"
    class="index__root___2ARXt index__home___klcUE index__homeClosed___20Cj2" data-reactid="5">
    <nav class="index__nav___lSpbi container" data-reactid="6"><a class="index__logo___2WBOQ" routerLink="/"
            data-reactid="7"><img
                src="/assets/img/header_logo_1.svg"
                alt="Teamgig" data-reactid="8"><span class="index__logoText___s25tV" data-reactid="9">Teamgig</span></a>
        <div class="PrimaryNav__primaryNav___lHEQ3" data-reactid="10">
            <button (click)="togleMobileMenu()" title="Menu" type="button"
                class="btn btn-secondary blue   PrimaryNav__menuBtn___3Xy7P" data-reactid="11"><span class="text"
                    title="Menu" data-reactid="12">Menu</span>
            </button>
            <ul class="PrimaryNav__menu___11wIl" data-reactid="13">
                <li *ngFor="let link of links; let i = index;" (mouseenter)="setMenuFlags(link.path, i)"
                    title="{{link.title}}" class="" data-reactid="14"
                    [ngClass]="{'active-link': i === selectedIndexLink}">
                    <a>{{link.title}}</a>
                </li>
                <li><a routerLink="{{content.contactUs.links[0].link}}">{{content.contactUs.links[0].title}}</a></li>
            </ul>
        </div>
        <div class="Login__auth___1bwj1" style="visibility:hidden" data-reactid="20"><a
                routerLink="https://app.teamgig.com/login" title="Sign in" type=""
                class="btn btn-secondary blue   home-login" target=""><span class="text" title="Sign in">Sign
                    in</span></a></div>
    </nav>
    <ul [ngClass]="{'MobileNav__open___12jtS': showMobile === true}" class="MobileNav__mobileMenu___2tlt8 "
        data-reactid="22">
        <li (click)="toggleSubmenu(0)" class="MobileNav__primaryNavItem___2B-PZ " data-reactid="23"><a class="disabled"
                data-reactid="24"><span data-reactid="25">Solutions</span><span class="MobileNav__arrowDown___3i5xw"
                    data-reactid="26"></span></a>
            <ul class="MobileNav__subMenu___3y_4l " data-reactid="27">
                <li *ngFor="let item of content.solutions.links" class="MobileNav__secondaryNavItem___2N6IK " data-reactid="28"><a routerLinkActive="activeLink"
                        routerLink="{{item.link}}" data-reactid="29"><img
                            src="{{item.icon}}"
                            data-reactid="30"><span data-reactid="31">{{item.title}}</span></a></li>
            </ul>
        </li>
        <li (click)="toggleSubmenu(1)" class="MobileNav__primaryNavItem___2B-PZ " data-reactid="52"><a class="disabled"
                data-reactid="53"><span data-reactid="54">Platform</span><span class="MobileNav__arrowDown___3i5xw"
                    data-reactid="55"></span></a>
            <ul class="MobileNav__subMenu___3y_4l " data-reactid="56">
                <li *ngFor="let item of content.platform.links" class="MobileNav__secondaryNavItem___2N6IK " data-reactid="57"><a routerLinkActive="activeLink"
                        routerLink="{{item.link}}" data-reactid="58"><span data-reactid="59">{{item.title}}</span></a></li>
            </ul>
        </li>
        <li (click)="toggleSubmenu(2)" class="MobileNav__primaryNavItem___2B-PZ " data-reactid="66"><a class="disabled"
                data-reactid="67"><span data-reactid="68">Company</span><span class="MobileNav__arrowDown___3i5xw"
                    data-reactid="69"></span></a>
            <ul class="MobileNav__subMenu___3y_4l " data-reactid="70">
                <li *ngFor="let item of content.company.links" class="MobileNav__secondaryNavItem___2N6IK " data-reactid="71"><a routerLinkActive="activeLink"
                        routerLink="{{item.link}}" data-reactid="72"><span data-reactid="73">{{item.title}}</span></a></li>
            </ul>
        </li>
        <li (click)="toggleSubmenu(3)" class="MobileNav__primaryNavItem___2B-PZ " data-reactid="77"><a class="disabled"
                data-reactid="78"><span data-reactid="79">Clients</span><span class="MobileNav__arrowDown___3i5xw"
                    data-reactid="80"></span></a>
            <ul class="MobileNav__subMenu___3y_4l " data-reactid="81">
                <li *ngFor="let item of content.clients.links" class="MobileNav__secondaryNavItem___2N6IK " data-reactid="82"><a routerLinkActive="activeLink"
                        routerLink="{{item.link}}" data-reactid="83"><span data-reactid="84">{{item.title}}</span></a></li>
            </ul>
        </li>
        <li class="MobileNav__primaryNavItem___2B-PZ " data-reactid="91"><a
                routerLinkActive="activeLink" routerLink="{{content.contactUs.links[0].link}}" data-reactid="92"><span data-reactid="93">{{content.contactUs.links[0].title}}</span></a></li>
    </ul>
    <div data-reactid="97">
        <div [ngClass]="{'pos-a': showMenu === 'solutions' && showMenuFrom }" class="PrimarySubnav__wrapper___2ktXx "
            data-reactid="98">
            <div (mouseover)="setMenuFlags('solutions')" (mouseleave)="showMenuFrom=false"
                class="container PrimarySubnav__container___PqFe8" data-reactid="99">
                <div class="PrimarySubnav__section___2htlH" data-reactid="100">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="101">
                        <li *ngFor="let item of content.solutions.links" class="PrimarySubnav__navLink___2EwSR" data-reactid="102"><a routerLink="{{item.link}}" data-reactid="103"><img
                                    class="PrimarySubnav__icon___agK83"
                                    src="{{item.icon}}"
                                    alt="Innovation" data-reactid="104"><span
                                    class="PrimarySubnav__navTextWrapper___3m8Vg" data-reactid="105"><span
                                        class="PrimarySubnav__navText___3WcJN" data-reactid="106">{{item.title}}</span><span
                                        class="PrimarySubnav__navSubtext___bGpD7" data-reactid="107">{{item.description}}</span></span></a></li>
                    </ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="138"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="139"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="140">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="141">
                        <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngClass]="{'pos-a': showMenu === 'platform' && showMenuFrom }" class="PrimarySubnav__wrapper___2ktXx "
            data-reactid="157">
            <div (mouseover)="setMenuFlags('platform')" (mouseleave)="showMenuFrom=false"
                class="container PrimarySubnav__container___PqFe8" data-reactid="158">
                <div class="PrimarySubnav__section___2htlH" data-reactid="159">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="160">
                        <li *ngFor="let item of content.platform.links" class="PrimarySubnav__navLink___2EwSR" data-reactid="161"><a routerLink="{{item.link}}"
                                data-reactid="162"><span class="PrimarySubnav__navTextWrapper___3m8Vg"
                                    data-reactid="163"><span class="PrimarySubnav__navText___3WcJN"
                                        data-reactid="164">{{item.title}}</span><span
                                        class="PrimarySubnav__navSubtext___bGpD7" data-reactid="165">{{item.description}}</span></span></a></li>
                    </ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="176"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="177"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="178">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="179">
                            <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngClass]="{'pos-a': showMenu === 'company' && showMenuFrom }" class="PrimarySubnav__wrapper___2ktXx "
            data-reactid="195">
            <div (mouseover)="setMenuFlags('company')" (mouseleave)="showMenuFrom=false"
                class="container PrimarySubnav__container___PqFe8" data-reactid="196">
                <div class="PrimarySubnav__section___2htlH" data-reactid="197">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="198">
                        <li *ngFor="let item of content.company.links" class="PrimarySubnav__navLink___2EwSR" data-reactid="199"><a routerLink="{{item.link}}"
                                data-reactid="200"><span class="PrimarySubnav__navTextWrapper___3m8Vg"
                                    data-reactid="201"><span class="PrimarySubnav__navText___3WcJN"
                                        data-reactid="202">{{item.title}}</span><span class="PrimarySubnav__navSubtext___bGpD7"
                                        data-reactid="203">{{item.description}}</span></span></a></li>
                    </ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="209"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="210"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="211">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="212">
                            <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngClass]="{'pos-a': showMenu === 'clients' && showMenuFrom }" class="PrimarySubnav__wrapper___2ktXx "
            data-reactid="228">
            <div (mouseover)="setMenuFlags('clients')" (mouseleave)="showMenuFrom=false"
                class="container PrimarySubnav__container___PqFe8" data-reactid="229">
                <div class="PrimarySubnav__section___2htlH" data-reactid="230">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="231">
                        <li *ngFor="let item of content.clients.links" class="PrimarySubnav__navLink___2EwSR" data-reactid="232"><a routerLink="{{item.link}}"
                                data-reactid="233"><span class="PrimarySubnav__navTextWrapper___3m8Vg"
                                    data-reactid="234"><span class="PrimarySubnav__navText___3WcJN"
                                        data-reactid="235">{{item.title}}</span><span
                                        class="PrimarySubnav__navSubtext___bGpD7" data-reactid="236">{{item.description}}</span></span></a></li>
                    </ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="247"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="248"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="249">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="250">
                            <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="PrimarySubnav__wrapper___2ktXx " data-reactid="266">
            <div class="container PrimarySubnav__container___PqFe8" data-reactid="267">
                <div class="PrimarySubnav__section___2htlH" data-reactid="268">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="269"></ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="270"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="271"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="272">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="273">
                            <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="PrimarySubnav__wrapper___2ktXx " data-reactid="289">
            <div class="container PrimarySubnav__container___PqFe8" data-reactid="290">
                <div class="PrimarySubnav__section___2htlH" data-reactid="291">
                    <ul class="PrimarySubnav__navLinks___10-L7" data-reactid="292"></ul>
                </div>
                <div class="PrimarySubnav__divider___3FwtE" data-reactid="293"></div>
                <div class="PrimarySubnav__sidebar___APoOe" data-reactid="294"><span
                        class="PrimarySubnav__sidebarTitle___1tcdi" data-reactid="295">{{content.blockItems.mainTitle}}</span>
                    <ul class="PrimarySubnav__sidebarItems___1nHNx" data-reactid="296">
                            <li *ngFor="let item of content.blockItems.items" class="PrimarySubnav__sidebarItem___1TpBi" data-reactid="142"><img
                                class="PrimarySubnav__sidebarIcon___2L42i"
                                src="{{item.icon}}"
                                alt="{{item.title}}" data-reactid="143"><span class="PrimarySubnav__sidebarText___3y3nP"
                                data-reactid="144">{{item.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- react-empty: 312 -->
    <div class="SecondarySubnav__submenuContainer___2UVtk">
        <ul class="SecondarySubnav__submenu___1b-NA">
            <li *ngFor="let item of submenuLinks" routerLinkActive="SecondarySubnav__active___1oqCt" class=""><a
                    routerLink="{{item.path}}">{{item.title}}</a></li>
        </ul>
    </div>
</header>