<div class="TermsOfUse__root___m6jaU root" data-reactid="313">
    <!-- react-empty: 314 -->
    <div class="container" data-reactid="315">
        <div class="top" data-reactid="316">
            <h1 data-reactid="317">Terms of Use</h1>
            <h4 data-reactid="318">Last updated on July 21st, 2015</h4>
        </div>
        <div data-reactid="319">
            <section class="Questions__root___9msqL" data-reactid="320">
                <div class="row" data-reactid="321">
                    <div class="col-12" data-reactid="322"><label data-reactid="323">Overview</label>
                        <h2 data-reactid="324">Using Teamgig means agreeing to our terms.</h2>
                        <h5 class="subheading" data-reactid="325">Find answers to common questions about Teamgig's terms
                            of service or <a href="mailto:support@teamgig.com">contact support</a>.</h5>
                    </div>
                </div>
                <div class="row" data-reactid="326">
                    <div class="hidden-md-down col-lg-3" data-reactid="327">
                        <div data-reactid="328">
                            <div style="padding-bottom: 914.5px;" data-reactid="329"></div>
                            <div class="quest-menu"
                                data-reactid="330">
                                <div class="Questions__list___3j5fl list-group" data-reactid="331"><a name="id_0" (click)="scrollToElement(id_0)"
                                        class="Questions__item___33n4h list-group-item" title="Acceptance of Terms"
                                        data-reactid="332">Acceptance of Terms</a><a name="id_1" (click)="scrollToElement(id_1)"  
                                        class="Questions__item___33n4h list-group-item" title="Description of Service"
                                        data-reactid="333">Description of Service</a><a name="id_2" (click)="scrollToElement(id_2)" 
                                        class="Questions__item___33n4h list-group-item" title="Additional Terms"
                                        data-reactid="334">Additional Terms</a><a name="id_3" (click)="scrollToElement(id_3)" 
                                        class="Questions__item___33n4h list-group-item"
                                        title="General Conditions / Access and Use of the Service"
                                        data-reactid="335">General Conditions / Access and Use of the Service</a><a name="id_4" (click)="scrollToElement(id_4)" 
                                        class="Questions__item___33n4h list-group-item"
                                        title="Representations and Warranties" data-reactid="336">Representations and
                                        Warranties</a><a  name="id_5" (click)="scrollToElement(id_5)" class="Questions__item___33n4h list-group-item"
                                        title="Termination" data-reactid="337">Termination</a><a name="id_6" (click)="scrollToElement(id_6)" 
                                        class="Questions__item___33n4h list-group-item" title="Disclaimer of Warranties"
                                        data-reactid="338">Disclaimer of Warranties</a><a name="id_7" (click)="scrollToElement(id_7)" 
                                        class="Questions__item___33n4h list-group-item" title="Limitation of Liability"
                                        data-reactid="339">Limitation of Liability</a><a name="id_8" (click)="scrollToElement(id_8)" 
                                        class="Questions__item___33n4h list-group-item" title="Idemnification"
                                        data-reactid="340">Idemnification</a><a name="id_9" (click)="scrollToElement(id_9)" 
                                        class="Questions__item___33n4h list-group-item" title="U.S. Government Matters"
                                        data-reactid="341"> Government Matters</a><a name="id_10" (click)="scrollToElement(id_10)" 
                                        class="Questions__item___33n4h list-group-item" title="Assignment"
                                        data-reactid="342">Assignment</a><a name="id_11" (click)="scrollToElement(id_11)" 
                                        class="Questions__item___33n4h list-group-item" title="Miscellaneous"
                                        data-reactid="343">Miscellaneous</a><a name="id_12" (click)="scrollToElement(id_12)" 
                                        class="Questions__item___33n4h list-group-item" title="Governing Law"
                                        data-reactid="344">Governing Law</a><a name="id_13" (click)="scrollToElement(id_13)" 
                                        class="Questions__item___33n4h list-group-item" title="Privacy"
                                        data-reactid="345">Privacy</a><a  name="id_14" (click)="scrollToElement(id_14)" class="Questions__item___33n4h list-group-item"
                                        title="DMCA" data-reactid="346">DMCA</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9" data-reactid="347">
                        <div #id_0 data-name="id_0" name="acceptance" data-reactid="348">
                            <div class="Questions__group___1DdkJ" data-reactid="349">
                                <h2 id="acceptance" data-reactid="350">Acceptance of Terms</h2>
                                <div id="acceptance-1" class="Collapse__root___2RXhr basic" data-reactid="351">
                                    <div class="collapse in" data-reactid="352">
                                        <p data-reactid="353"><b>a.)&nbsp;</b> Teamgig, a Liquid Labs Inc. product
                                            (“Teamgig” or “we”), provides its Service (as defined below) to you through
                                            its web site located at <a href="https://teamgig.com"
                                                target="_blank">teamgig.com</a> (the “Site”), subject to this Terms of
                                            Service agreement (“TOS”). By accepting this TOS or by accessing or using
                                            the Service or Site, you acknowledge that you have read, understood, and
                                            agree to be bound by this TOS. If you are entering into this TOS on behalf
                                            of a company, business or other legal entity, you represent that you have
                                            the authority to bind such entity and its affiliates to this TOS, in which
                                            case the terms “you” or “your” shall refer to such entity and its
                                            affiliates. If you do not have such authority, or if you do not agree with
                                            this TOS, you must not accept this TOS and may not use the Service.</p>
                                        <p data-reactid="354"><b>b.)&nbsp;</b> Teamgig may change this TOS from time to
                                            time by providing thirty (30) days prior notice either by emailing the email
                                            address associated with your account or by posting a notice on the Site. You
                                            can review the most current version of this TOS at any time via <a
                                                href="https://teamgig.com/terms-of-use" target="_blank">teamgig.com</a>.
                                            The revised terms and conditions will become effective thirty (30) days
                                            after we post or send you notice of such changes, and if you use the Service
                                            after that date, your use will constitute acceptance of the revised terms
                                            and conditions. If any change to this TOS is not acceptable to you, your
                                            only remedy is stop using the Services.</p>
                                        <p data-reactid="355"><b>c.)&nbsp;</b> As part of the registration process, you
                                            will identify an administrative username and password for your account
                                            (“Account”).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_1 data-name="id_1" name="service" data-reactid="356">
                            <div class="Questions__group___1DdkJ" data-reactid="357">
                                <h2 id="service" data-reactid="358">Description of Service</h2>
                                <div id="service-1" class="Collapse__root___2RXhr basic" data-reactid="359">
                                    <div class="collapse in" data-reactid="360">
                                        <p data-reactid="361">The “Service(s)” includes (a) the Site, (b) Teamgig’s
                                            software-as-a-service platform for hiring software developers and managing
                                            software development projects and (c) all software (including the Software,
                                            as defined below), data, reports, text, images, sounds, video, and content
                                            made available through any of the foregoing (collectively referred to as the
                                            “Content”). Any new features added to or augmenting the Service are also
                                            subject to this TOS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_2 data-name="id_2" name="additional-terms" data-reactid="362">
                            <div class="Questions__group___1DdkJ" data-reactid="363">
                                <h2 id="additional-terms" data-reactid="364">Additional Terms</h2>
                                <div id="additional-terms-1" class="Collapse__root___2RXhr basic" data-reactid="365">
                                    <div class="collapse in" data-reactid="366">
                                        <p data-reactid="367">The Service is designed to connect customers (“Customers”)
                                            with third party software developers (“Developers”) and manage software
                                            development projects and deliverables for Customers and may be subject to
                                            additional terms, including payment terms if you are a Customer or
                                            Developer. If you are a Customer you may be required to agree to our
                                            Customer Terms, available at <a href="https://teamgig.com/terms-of-use"
                                                target="_blank">teamgig.com/terms-of-use</a> prior to purchasing the
                                            Service. If you are a Developer, you may be required to agree to our
                                            Developer Terms available at <a href="https://teamgig.com/terms-of-use"
                                                target="_blank">teamgig.com/terms-of-use</a> prior to accepting a
                                            Project. The Customer Terms and Developer Terms shall hereinafter be
                                            referred to as the “Additional Terms.” If there is any conflict between this
                                            TOS and the Additional Terms, the Additional Terms shall control.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_3 data-name="id_3" name="general-conditions" data-reactid="368">
                            <div class="Questions__group___1DdkJ" data-reactid="369">
                                <h2 id="general-conditions" data-reactid="370">General Conditions / Access and Use of
                                    the Service</h2>
                                <div id="general-conditions-1" class="Collapse__root___2RXhr basic" data-reactid="371">
                                    <div class="collapse in" data-reactid="372">
                                        <p data-reactid="373"><b>a.)&nbsp;</b> Subject to the terms and conditions of
                                            this TOS, you may access and use the Service only for lawful purposes. All
                                            rights, title and interest in and to the Service and its components will
                                            remain with and belong exclusively to Teamgig. You shall not (a) sublicense,
                                            resell, rent, lease, transfer, assign, time share or otherwise commercially
                                            exploit or make the Service available to any third party; (b) use the
                                            Service in any unlawful manner (including without limitation in violation of
                                            any data, privacy or export control laws) or in any manner that interferes
                                            with or disrupts the integrity or performance of the Service or its
                                            components, or (c) modify, adapt or hack the Service to, or otherwise
                                            attempt to gain unauthorized access to the Service or its related systems or
                                            networks. You shall comply with any codes of conduct, policies or other
                                            notices Teamgig provides you or publishes in connection with the Service,
                                            and you shall promptly notify Teamgig if you learn of a security breach
                                            related to the Service.</p>
                                        <p data-reactid="374"><b>b.)&nbsp;</b> Any software that may be made available
                                            by Teamgig in connection with the Service (“Software”) contains proprietary
                                            and confidential information that is protected by applicable intellectual
                                            property and other laws. Subject to the terms and conditions of this TOS,
                                            Teamgig hereby grants you a non-transferable, non-sublicensable and
                                            non-exclusive right and license to use the object code of any Software on a
                                            single device solely in connection with the Service, provided that you shall
                                            not (and shall not allow any third party to) copy, modify, create a
                                            derivative work of, reverse engineer, reverse assemble or otherwise attempt
                                            to discover any source code or sell, assign, sublicense or otherwise
                                            transfer any right in any Software. You agree not to access the Service by
                                            any means other than through the interface that is provided by Teamgig for
                                            use in accessing the Service. Any rights not expressly granted herein are
                                            reserved and no license or right to use any trademark of Teamgig or any
                                            third party is granted to you in connection with the Service.</p>
                                        <p data-reactid="375"><b>c.)&nbsp;</b> You are solely responsible for all data,
                                            information, feedback, suggestions, text, content and other materials that
                                            you upload, post, deliver, provide or otherwise transmit or store (hereafter
                                            “post(ing)”) in connection with or relating to the Service (“Your Content”).
                                            You agree to cooperate with and provide reasonable assistance to Teamgig in
                                            promoting and advertising the Services.</p>
                                        <p data-reactid="376"><b>d.)&nbsp;</b> You are responsible for maintaining the
                                            confidentiality of your login, password and account and for all activities
                                            that occur under your login or account. Teamgig reserves the right to access
                                            your account in order to respond to your requests for technical support. By
                                            posting Your Content on or through the Service, you hereby do and shall
                                            grant Teamgig a worldwide, non-exclusive, perpetual, irrevocable,
                                            royalty-free, fully paid, sublicensable and transferable license to use,
                                            modify, reproduce, distribute, display, publish and perform Your Content
                                            solely to provide the Services. Teamgig has the right, but not the
                                            obligation, to monitor the Service, Content, or Your Content. You further
                                            agree that Teamgig may remove or disable any Content at any time for any
                                            reason (including, but not limited to, upon receipt of claims or allegations
                                            from third parties or authorities relating to such Content), or for no
                                            reason at all.</p>
                                        <p data-reactid="377"><b>e.)&nbsp;</b> You understand that the operation of the
                                            Service, including Your Content, may be unencrypted and involve (a)
                                            transmissions over various networks; (b) changes to conform and adapt to
                                            technical requirements of connecting networks or devices and (c)
                                            transmission to Teamgig’s third party vendors and hosting partners to
                                            provide the necessary hardware, software, networking, storage, and related
                                            technology required to operate and maintain the Service. Accordingly, you
                                            acknowledge that you bear sole responsibility for adequate security,
                                            protection and backup of Your Content. Teamgig will have no liability to you
                                            for any unauthorized access or use of any of Your Content, or any
                                            corruption, deletion, destruction or loss of any of Your Content.</p>
                                        <p data-reactid="378"><b>f.)&nbsp;</b> You shall be responsible for obtaining
                                            and maintaining any equipment and ancillary services needed to connect to,
                                            access or otherwise use the Services, including, without limitation, modems,
                                            hardware, server, software, operating system, networking, web servers, long
                                            distance and local telephone service (collectively, “Equipment”). You shall
                                            be responsible for ensuring that such Equipment is compatible with the
                                            Services (and, to the extent applicable, the Software) and complies with all
                                            configurations and specifications set forth in Teamgig’s published policies
                                            then in effect. You shall also be responsible for maintaining the security
                                            of the Equipment, your Account, passwords (including but not limited to
                                            administrative and user passwords) and files, and for all uses of your
                                            Account or the Equipment with or without your knowledge or consent.</p>
                                        <p data-reactid="379"><b>g.)&nbsp;</b> The failure of Teamgig to exercise or
                                            enforce any right or provision of this TOS shall not be a waiver of that
                                            right. You acknowledge that this TOS is a contract between you and Teamgig,
                                            even though it is electronic and is not physically signed by you and
                                            Teamgig, and it governs your use of the Service.</p>
                                        <p data-reactid="380"><b>h.)&nbsp;</b> Subject to the terms hereof, Teamgig may
                                            (but has no obligation to) provide technical support services, through email
                                            in accordance with our standard practice.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_3 data-name="id_4" name="representations" data-reactid="381">
                            <div class="Questions__group___1DdkJ" data-reactid="382">
                                <h2 id="representations" data-reactid="383">Representations and Warranties</h2>
                                <div id="representations-1" class="Collapse__root___2RXhr basic" data-reactid="384">
                                    <div class="collapse in" data-reactid="385">
                                        <p data-reactid="386">You represent and warrant to Teamgig that (i) you have
                                            full power and authority to enter into this TOS; (ii) you own all Your
                                            Content or have obtained all permissions, releases, rights or licenses
                                            required to engage in your posting and other activities (and allow Teamgig
                                            to perform its obligations) in connection with the Services without
                                            obtaining any further releases or consents; (iii) Your Content and other
                                            activities in connection with the Service, and Teamgig’s exercise of all
                                            rights and license granted by you herein, do not and will not violate,
                                            infringe, or misappropriate any third party’s copyright, trademark, right of
                                            privacy or publicity, or other personal or proprietary right, nor does Your
                                            Content contain any matter that is defamatory, obscene, unlawful,
                                            threatening, abusive, tortious, offensive or harassing; and (iv) you are
                                            eighteen (18) years of age or older.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_5 data-name="id_5" name="termination" data-reactid="387">
                            <div class="Questions__group___1DdkJ" data-reactid="388">
                                <h2 id="termination" data-reactid="389">Termination</h2>
                                <div id="termination-1" class="Collapse__root___2RXhr basic" data-reactid="390">
                                    <div class="collapse in" data-reactid="391">
                                        <p data-reactid="392">Teamgig reserves the right, in its sole discretion, to
                                            restrict, suspend, or terminate this Agreement and your access to all or any
                                            part of the Site or the Content at any time and for any reason without prior
                                            notice or liability. Teamgig reserves the right to change, suspend, or
                                            discontinue all or any part of the Site at any time without prior notice or
                                            liability. However, all accrued rights to payment and the terms of Section
                                            4-12 shall survive termination of this TOS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_6 data-name="id_6" name="disclaimer" data-reactid="393">
                            <div class="Questions__group___1DdkJ" data-reactid="394">
                                <h2 id="disclaimer" data-reactid="395">Disclaimer of Warranties</h2>
                                <div id="disclaimer-1" class="Collapse__root___2RXhr basic" data-reactid="396">
                                    <div class="collapse in" data-reactid="397">
                                        <p data-reactid="398">The Services may be temporarily unavailable for scheduled
                                            maintenance or for unscheduled emergency maintenance, either by Teamgig or
                                            by third-party providers, or because of other causes beyond our reasonable
                                            control. However, the Service, including the site and content, and all
                                            server and network components are provided on an “as is” and “as available”
                                            basis without any warranties of any kind, and teamgig expressly disclaims
                                            any and all warranties, whether express or implied, including, but not
                                            limited to, the implied warranties of merchantability, title, fitness for a
                                            particular purpose, and non-infringement. you acknowledge that Teamgig does
                                            not warrant that the Service will be uninterrupted, timely, secure,
                                            error-free or virus-free, nor does it make any warranty as to the results
                                            that may be obtained from use of the Services, and no information, advice or
                                            services obtained by you from Teamgig or through the Service shall create
                                            any warranty not expressly stated in this TOS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_7 data-name="id_7" name="limitation" data-reactid="399">
                            <div class="Questions__group___1DdkJ" data-reactid="400">
                                <h2 id="limitation" data-reactid="401">Limitation of Liability</h2>
                                <div id="limitation-1" class="Collapse__root___2RXhr basic" data-reactid="402">
                                    <div class="collapse in" data-reactid="403">
                                        <p data-reactid="404"><b>a.)&nbsp;</b> However, the Service, including the site
                                            and content, and all server and network components are provided on an “as
                                            is” and “as available” basis without any warranties of any kind, and Teamgig
                                            expressly disclaims any and all warranties, whether express or implied,
                                            including, but not limited to, the implied warranties of merchantability,
                                            title, fitness for a particular purpose, and non-infringement. you
                                            acknowledge that Teamgig does not warrant that the Service will be
                                            uninterrupted, timely, secure, error-free or virus-free, nor does it make
                                            any warranty as to the results that may be obtained from use of the
                                            Services, and no information, advice or services obtained by you from
                                            Teamgig or through the Service shall create any warranty not expressly
                                            stated in this TOS.</p>
                                        <p data-reactid="405"><b>b.)&nbsp;</b> Some states do not allow the exclusion of
                                            implied warranties or limitation of liability for incidental or
                                            consequential damages, which means that some of the above limitations may
                                            not apply to you. In these states, Teamgig’s liability will be limited to
                                            the greatest extent permitted by law.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_8 data-name="id_8" name="idemnification" data-reactid="406">
                            <div class="Questions__group___1DdkJ" data-reactid="407">
                                <h2 id="idemnification" data-reactid="408">Idemnification</h2>
                                <div id="idemnification-1" class="Collapse__root___2RXhr basic" data-reactid="409">
                                    <div class="collapse in" data-reactid="410">
                                        <p data-reactid="411">You shall defend, indemnify, and hold harmless Teamgig
                                            from and against any claims, actions or demands, including without
                                            limitation reasonable legal and accounting fees, arising or resulting from
                                            your breach of this TOS, any of Your Content, or your other access,
                                            contribution to, use or misuse of the Service. Teamgig shall provide notice
                                            to you of any such claim, suit or demand. Teamgig reserves the right to
                                            assume the exclusive defense and control of any matter which is subject to
                                            indemnification under this section. In such case, you agree to cooperate
                                            with any reasonable requests assisting Teamgig’s defense of such matter.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_9 data-name="id_9" name="government" data-reactid="412">
                            <div class="Questions__group___1DdkJ" data-reactid="413">
                                <h2 id="government" data-reactid="414">U.S. Government Matters</h2>
                                <div id="government-1" class="Collapse__root___2RXhr basic" data-reactid="415">
                                    <div class="collapse in" data-reactid="416">
                                        <p data-reactid="417">You may not remove or export from the United States or
                                            allow the export or re-export of the Services or anything related thereto,
                                            or any direct product thereof in violation of any restrictions, laws or
                                            regulations of the United States Department of Commerce, the United States
                                            Department of Treasury Office of Foreign Assets Control, or any other United
                                            States or foreign agency or authority. As defined in FAR section 2.101, the
                                            software and documentation installed by Teamgig on your Equipment (if
                                            applicable) are “commercial items” and according to DFAR section 252.227
                                            7014(a)(1) and (5) are deemed to be “commercial computer software” and
                                            “commercial computer software documentation.” Consistent with DFAR section
                                            227.7202 and FAR section 12.212, any use modification, reproduction,
                                            release, performance, display, or disclosure of such commercial software or
                                            commercial software documentation by the U.S. Government will be governed
                                            solely by the terms of this TOS and will be prohibited except to the extent
                                            expressly permitted by the terms of this TOS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_10 data-name="id_10" name="assignment" data-reactid="418">
                            <div class="Questions__group___1DdkJ" data-reactid="419">
                                <h2 id="assignment" data-reactid="420">Assignment</h2>
                                <div id="assignment-1" class="Collapse__root___2RXhr basic" data-reactid="421">
                                    <div class="collapse in" data-reactid="422">
                                        <p data-reactid="423">You may not assign this TOS without the prior written
                                            consent of Teamgig, but Teamgig may assign or transfer this TOS, in whole or
                                            in part, without restriction.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_11 data-name="id_11" name="miscellaneous" data-reactid="424">
                            <div class="Questions__group___1DdkJ" data-reactid="425">
                                <h2 id="miscellaneous" data-reactid="426">Miscellaneous</h2>
                                <div id="miscellaneous-1" class="Collapse__root___2RXhr basic" data-reactid="427">
                                    <div class="collapse in" data-reactid="428">
                                        <p data-reactid="429">If any provision of this TOS is found to be unenforceable
                                            or invalid, that provision will be limited or eliminated to the minimum
                                            extent necessary so that this TOS will otherwise remain in full force and
                                            effect and enforceable. Both parties agree that this TOS and any Additional
                                            Terms as applicable, are the complete and exclusive statement of the mutual
                                            understanding of the parties and supersedes and cancels all previous written
                                            and oral agreements, communications and other understandings relating to the
                                            subject matter of this TOS, and that all waivers and modifications must be
                                            in a writing signed by both parties, except as otherwise provided herein. No
                                            agency, partnership, joint venture, or employment is created as a result of
                                            this TOS and you do not have any authority of any kind to bind Teamgig in
                                            any respect whatsoever. In any action or proceeding to enforce rights under
                                            this TOS, the prevailing party will be entitled to recover costs and
                                            attorneys’ fees. All notices under this TOS will be in writing and will be
                                            deemed to have been duly given when received, if personally delivered; when
                                            receipt is electronically confirmed, if transmitted by facsimile or email;
                                            the day after it is sent, if sent for next day delivery by recognized
                                            overnight delivery service; and upon receipt, if sent by certified or
                                            registered mail, return receipt requested.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_12 data-name="id_12" name="governing-law" data-reactid="430">
                            <div class="Questions__group___1DdkJ" data-reactid="431">
                                <h2 id="governing-law" data-reactid="432">Governing Law</h2>
                                <div id="governing-law-1" class="Collapse__root___2RXhr basic" data-reactid="433">
                                    <div class="collapse in" data-reactid="434">
                                        <p data-reactid="435">This TOS shall be governed by the laws of the State of
                                            California without regard to the principles of conflicts of law. Unless
                                            otherwise elected by Teamgig in a particular instance, you hereby expressly
                                            agree to submit to the exclusive personal jurisdiction of the federal and
                                            state courts of the State of California or the purpose of resolving any
                                            dispute relating to your access to or use of the Service.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_13 data-name="id_13" name="privacy" data-reactid="436">
                            <div class="Questions__group___1DdkJ" data-reactid="437">
                                <h2 id="privacy" data-reactid="438">Privacy</h2>
                                <div id="privacy-1" class="Collapse__root___2RXhr basic" data-reactid="439">
                                    <div class="collapse in" data-reactid="440">
                                        <p data-reactid="441">Teamgig’s collection and use of personal information and
                                            other data is subject to Teamgig’s Privacy Policy at <a
                                                href="https://teamgig.com/privacy"
                                                target="_blank">teamgig.com/privacy</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_14 data-name="id_14" name="dmca" data-reactid="442">
                            <div class="Questions__group___1DdkJ" data-reactid="443">
                                <h2 id="dmca" data-reactid="444">DMCA</h2>
                                <div id="dmca-1" class="Collapse__root___2RXhr basic" data-reactid="445">
                                    <div class="collapse in" data-reactid="446">
                                        <p data-reactid="447">The Digital Millennium Copyright Act of 1998 (the “DMCA”)
                                            provides recourse for copyright owners who believe that material appearing
                                            on the Internet infringes their rights under U.S. copyright law. Teamgig
                                            will promptly process and investigate notices of alleged infringement and
                                            will take appropriate actions under the DMCA and other applicable
                                            intellectual property laws with respect to any alleged or actual
                                            infringement. A notification of claimed copyright infringement should be
                                            emailed to Teamgig’s Copyright Agent at support@teamgig.com (subject line:
                                            “DMCA” Takedown Request”). You may also contact us by mail or facsimile at:
                                        </p>
                                        <p data-reactid="448">Attention: Copyright Agent Teamgig 301 Howard St. Suite
                                            2100, San Francisco, CA, 94105</p>
                                        <p data-reactid="449"><b>Notice:&nbsp;</b> To be effective, the notification
                                            must be in writing and contain the following information:</p>
                                        <p data-reactid="450"></p>
                                        <ul>
                                            <li>an electronic or physical signature of the person authorized to act on
                                                behalf of the owner of the copyright or other intellectual property
                                                interest;</li>
                                            <p></p>
                                            <p data-reactid="451"></p>
                                            <li>a description of the copyrighted work or other intellectual property
                                                that you claim has been infringed;</li>
                                            <p></p>
                                            <p data-reactid="452"></p>
                                            <li>a description of where the material that you claim is infringing is
                                                located on the Site, with enough detail that we may find it on the Site;
                                            </li>
                                            <p></p>
                                            <p data-reactid="453"></p>
                                            <li>your address, telephone number, and email address;</li>
                                            <p></p>
                                            <p data-reactid="454"></p>
                                            <li>a statement by you that you have a good faith belief that the disputed
                                                use is not authorized by the copyright or intellectual property owner,
                                                its agent, or the law;</li>
                                            <p></p>
                                            <p data-reactid="455"></p>
                                            <li>a statement by you, made under penalty of perjury, that the above
                                                information in your Notice is accurate and that you are the copyright or
                                                intellectual property owner or authorized to act on the copyright or
                                                intellectual property owner‘s behalf.</li>
                                        </ul>
                                        <p></p>
                                        <p data-reactid="456"><b>Counter-Notice:&nbsp;</b> If you believe that the
                                            relevant Content that was removed (or to which access was disabled) is not
                                            infringing, or that you have the authorization from the copyright owner, the
                                            copyright owner’s agent, or pursuant to the law, to post and use such
                                            Content, you may send a written counter-notice containing the following
                                            information to the Copyright Agent:</p>
                                        <p data-reactid="457"></p>
                                        <ul>
                                            <li>your physical or electronic signature;</li>
                                            <p></p>
                                            <p data-reactid="458"></p>
                                            <li>identification of the content that has been removed or to which access
                                                has been disabled and the location at which the content appeared before
                                                it was removed or disabled;</li>
                                            <p></p>
                                            <p data-reactid="459"></p>
                                            <li>a statement that you have a good faith belief that the content was
                                                removed or disabled as a result of mistake or a misidentification of the
                                                content; and</li>
                                            <p></p>
                                            <p data-reactid="460"></p>
                                            <li>your name, address, telephone number, and e-mail address, a statement
                                                that you consent to the jurisdiction of the federal court located within
                                                the Northern District of California and a statement that you will accept
                                                service of process from the person who provided notification of the
                                                alleged infringement.</li>
                                            <p></p>
                                            <p data-reactid="461"></p>
                                            <li>If a counter-notice is received by the Copyright Agent, Teamgig will
                                                send a copy of the counter- notice to the original complaining party
                                                informing that person that it may replace the removed content or cease
                                                disabling it in 10 business days. Unless the copyright owner files an
                                                action seeking a court order against the content provider, member or
                                                user, the removed content may be replaced, or access to it restored, in
                                                10 to 14 business days or more after receipt of the counter-notice, at
                                                Teamgig’s sole discretion.</li>
                                        </ul>
                                        <p></p>
                                        <p data-reactid="462"><b>Repeat Infringer Policy:&nbsp;</b> In accordance with
                                            the DMCA and other applicable law, Teamgig has adopted a policy of
                                            terminating, in appropriate circumstances and at Teamgig's sole discretion,
                                            members who are deemed to be repeat infringers. Teamgig may also at its sole
                                            discretion limit access to the Site and/or terminate the memberships of any
                                            users who infringe any intellectual property rights of others, whether or
                                            not there is any repeat infringement.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container-fluid" data-reactid="463">
        <div class="CallToAction__root___1zXH_ row undefined"
            style="background-image:url(&quot;/assets/img/term_footer_image_1.svg&quot;);"
            data-reactid="464">
            <div class="col-12" data-reactid="465">
                <h2 data-reactid="466">Start your project.</h2>
                <div class="CallToAction__buttons___EkLpP" data-reactid="467"><button title="Get a quote" type="button"
                        class="btn btn-primary orange   " data-reactid="468"><span class="text" title="Get a quote"
                            data-reactid="469">Get a quote</span></button></div>
            </div>
        </div>
    </div>
</div>