<footer class="Footer__root___37e9S" data-reactid="894">
    <div class="Footer__top___1IS0t" data-reactid="895">
        <div class="container Footer__row___1NDHm row" data-reactid="896">
            <div *ngFor="let items of content.footerLinks" class="Footer__block___kXSBf col-sm-6 col-md-4 col-lg-2" data-reactid="897">
                    <label data-reactid="898">{{items.category}}</label>
                    <a *ngFor="let item of items.links" routerLink="{{item.link}}" data-reactid="899">{{item.title}}</a></div>            
            <div  class="Footer__block___kXSBf col-sm-6 col-md-4 col-lg-2" data-reactid="922"><a
                (click)="scrollToTop()"
                    class="Footer__backToTop___32RzG"  data-reactid="923"><span class="upArrow"
                        data-reactid="924"></span><span data-reactid="925">{{content.content.back}}</span></a></div>
        </div>
    </div>
    <div class="Footer__bottom___udmwg" data-reactid="926">
        <div class="container" data-reactid="927">
            <div class="row" data-reactid="928">
                <div class="Footer__col3___1lZhZ col-12 col-sm-3" data-reactid="929"><a class="Footer__logo___f71xn"
                        routerLink="/" data-reactid="930"><img
                            src="/assets/img/footer_icon_1.svg"
                            alt="Teamgig" data-reactid="931"></a></div>
                <div class="Footer__col6___1OCtO col-12 col-sm-6" data-reactid="932"><span data-reactid="933">
                        {{content.content.copy}}
                        {{content.content.year}}
                        {{content.content.inc}}
                        </span><span data-reactid="937"><a routerLink="{{content.content.links[0].link}}"
                            data-reactid="938">{{content.content.links[0].title}}</a>&amp;
                        <a routerLink="{{content.content.links[1].link}}" data-reactid="940">{{content.content.links[1].title}}</a></span></div>
                <div class="Footer__col3___1lZhZ col-12 col-sm-3" data-reactid="941"><a
                        href="https://twitter.com/tryteamgig" target="_blank" data-reactid="942"><i class="icon-twitter"
                            data-reactid="943"></i></a><a href="https://www.facebook.com/TryTeamgig" target="_blank"
                        data-reactid="944"><i class="icon-facebook" data-reactid="945"></i></a><a
                        href="https://www.linkedin.com/company/teamgig/" target="_blank" data-reactid="946"><i
                            class="icon-linkedin" data-reactid="947"></i></a></div>
            </div>
        </div>
    </div>
</footer>