label 
    display: block
    font-size: 0.65rem
    color: #4094ED
    margin-top: 0.5rem
    margin-bottom: 1rem
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.05rem
a
    padding-bottom: 0.01rem
    transition: color 0.25s ease-out
    border-bottom: 1px solid #4094ED

    
    
    
footer
    position: relative
    z-index: 200
    .top
        padding: 4rem 0 2rem
        background-color: #333647
        a 
            font-size: 1.2rem
            margin-bottom: 0.25rem
            border: none!important
            &:hover
                text-decoration: none
                color: #fff!important
        a:not(.logo)
            display: table
            cursor: pointer
            color: rgba(255,255,255,.65) !important
            transition: color 0.25s
            &:hover
                text-decoration: none
                color: #fff!important
        span
            color: rgba(255,255,255,1) !important
    .Footer__row
        margin: 0 auto
        .block
            margin-bottom: 1rem
            label
                color: #FFF !important
                padding-left: 0 !important
                margin: 0 0 2rem !important
                letter-spacing: 0.1rem
                text-transform: uppercase
    .bottom
        padding: 1.25rem 0
        background-color: #292D3A
        a 
            font-size: 0.8rem
            text-decoration: none
            border: none
        span 
            font-size: 0.8rem

    .Footer__col3
        margin: 1rem 0
    .Footer__col6
        display: flex
        align-items: center
        justify-content: center
        margin: 1rem 0
        a 
            color: #FFF
            margin: 0 1rem
        span 
            color: #FFF
            margin: 0 1rem
            a 
                margin: 0
    .logo 
        margin: 0
        display: block
        text-align: center
        img 
            cursor: pointer
            width: 3,75rem
    .backToTop
        padding-left: 0 !important
        margin: 0 0 2rem !important
        color: #FFF !important
        font-size: 0.6rem !important
        font-weight: 600
        white-space: nowrap
        letter-spacing: 0.1rem
        text-transform: uppercase
        .upArrow
            position: relative
            top: -7px
            width: 0.5rem
            height: 0.5rem
            margin-right: 9px
            border-top: 0.3rem solid transparent
            border-right: 0.3rem solid transparent
            border-bottom: 0.3rem solid #FFF
            border-left: 0.3rem solid transparent


@media (min-width: 768px)
    footer  
        .block
            padding-left: 2rem!important
        .logo 
            img 
                width: 4rem
        .backToTop
            font-size: 0.725rem!important


@media (min-width: 544px)
    footer
        .top
            padding: 4rem 0 3rem
            .block
                padding-left: 2rem!important
    .Footer__col3, .Footer__col6
        margin: 0!important
        a.logo 
            text-align: left
