<div class="container" data-reactid="315">
    <div class="top ContactUs__top___1VW86" data-reactid="316">
        <h1 data-reactid="317">{{content.mainTitle}}</h1>
        <h4 data-reactid="318">{{content.subText}}</h4>
    </div>
</div>
