<div class="PrivacyPolicy__root___5JrJV root" data-reactid="313">
    <!-- react-empty: 314 -->
    <div class="container" data-reactid="315">
        <div class="top" data-reactid="316">
            <h1 data-reactid="317">Privacy Policy</h1>
            <h4 data-reactid="318">Last updated on May 25th, 2018</h4>
        </div>
        <div data-reactid="319" id="check">
            <section class="Questions__root___9msqL" data-reactid="320">
                <div class="row" data-reactid="321">
                    <div class="col-12" data-reactid="322"><label data-reactid="323">Overview</label>
                        <h2 data-reactid="324">Your privacy is important to us.</h2>
                        <h5 class="subheading" data-reactid="325">Find answers to common questions about Teamgig's
                            privacy policy or <a href="mailto:support@teamgig.com">contact support.</a></h5>
                    </div>
                </div>
                <div class="row" data-reactid="326">
                    <div class="hidden-md-down col-lg-3" data-reactid="327">
                        <div data-reactid="328">
                            <div style="padding-bottom: 762.5px;" data-reactid="329"></div>
                            <div class="quest-menu"
                                data-reactid="330">
                                <div class="Questions__list___3j5fl list-group" data-reactid="331"><a name="id_0" (click)="scrollToElement(id_0)"
                                        class="Questions__item___33n4h list-group-item" title="Our Policy"
                                        data-reactid="332">Our Policy</a><a name="id_1" (click)="scrollToElement(id_1)"
                                        class="Questions__item___33n4h list-group-item" title="Information We Collect"
                                        data-reactid="333">Information We Collect</a><a name="id_2" (click)="scrollToElement(id_2)"
                                        class="Questions__item___33n4h list-group-item"
                                        title="Our Use of Your Personal Data and Other Information"
                                        data-reactid="334">Our Use of Your Personal Data and Other Information</a><a name="id_3" (click)="scrollToElement(id_3)"
                                        class="Questions__item___33n4h list-group-item"
                                        title="Our Disclosure of Your Personal Data and Other Information"
                                        data-reactid="335">Our Disclosure of Your Personal Data and Other
                                        Information</a><a  name="id_4" (click)="scrollToElement(id_4)"class="Questions__item___33n4h list-group-item"
                                        title="Your Choices" data-reactid="336">Your Choices</a><a name="id_5" (click)="scrollToElement(id_5)"
                                        class="Questions__item___33n4h list-group-item" title="Exclusions"
                                        data-reactid="337">Exclusions</a><a name="id_6" (click)="scrollToElement(id_6)"
                                        class="Questions__item___33n4h list-group-item" title="Children"
                                        data-reactid="338">Children</a><a name="id_7" (click)="scrollToElement(id_7)"
                                        class="Questions__item___33n4h list-group-item" title="Links to Other Web Sites"
                                        data-reactid="339">Links to Other Web Sites</a><a name="id_8" (click)="scrollToElement(id_8)"
                                        class="Questions__item___33n4h list-group-item" title="Security"
                                        data-reactid="340">Security</a><a name="id_9" (click)="scrollToElement(id_9)"
                                        class="Questions__item___33n4h list-group-item"
                                        title="Other Terms and Conditions" data-reactid="341">Other Terms and
                                        Conditions</a><a name="id_10" (click)="scrollToElement(id_10)" class="Questions__item___33n4h list-group-item"
                                        title="Access to Information; Contacting Teamgig Policy:"
                                        data-reactid="342">Access to Information; Contacting Teamgig Policy:</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9" data-reactid="343">
                        <div #id_0 data-name="id_0" name="our-policy" data-reactid="344">
                            <div class="Questions__group___1DdkJ" data-reactid="345">
                                <h2 id="our-policy" data-reactid="346">Our Policy</h2>
                                <div id="our-policy-1" class="Collapse__root___2RXhr basic" data-reactid="347">
                                    <div class="collapse in" data-reactid="348">
                                        <p data-reactid="349">Welcome to the web site (the “Site”) of Teamgig, a Liquid
                                            Labs, Inc. product (“Teamgig”, “we”, “us” and/or “our”). This Site is
                                            operated by Teamgig and has been created to provide information about our
                                            company and our software-as-a-service platform for hiring software
                                            developers and managing software development projects, mobile applications
                                            and related services (together with the Site, the “Services”) to our Service
                                            visitors (“you”, “your”). This Privacy Policy sets forth Teamgig’s policy
                                            with respect to information including personally identifiable data
                                            (“Personal Data”) and other information that is collected from visitors to
                                            the Site and Services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_1 data-name="id_1" name="information" data-reactid="350">
                            <div class="Questions__group___1DdkJ" data-reactid="351">
                                <h2 id="information" data-reactid="352">Information We Collect</h2>
                                <div id="information-1" class="Collapse__root___2RXhr basic" data-reactid="353">
                                    <div class="collapse in" data-reactid="354">
                                        <p data-reactid="355">When you interact with us through the Services, we may
                                            collect Personal Data and other information from you, as further described
                                            below:</p>
                                        <p data-reactid="356">Personal Data That You Provide Through the Services: We
                                            collect Personal Data from you when you voluntarily provide such
                                            information, such as when you contact us with inquiries, respond to one of
                                            our surveys, register for access to the Services or use certain Services.
                                            Wherever Teamgig collects Personal Data we make an effort to provide a link
                                            to this Privacy Policy.</p>
                                        <p data-reactid="357">By voluntarily providing us with Personal Data, you are
                                            consenting to our use of it in accordance with this Privacy Policy. If you
                                            provide Personal Data to the Services, you acknowledge and agree that such
                                            Personal Data may be transferred from your current location to the offices
                                            and servers of Teamgig and the authorized third parties referred to herein
                                            located in the United States.</p>
                                        <p data-reactid="358">Other Information:</p>
                                        <p data-reactid="359">Non-Identifiable Data: When you interact with Teamgig
                                            through the Services, we receive and store certain personally
                                            non-identifiable information. Such information, which is collected passively
                                            using various technologies, cannot presently be used to specifically
                                            identify you. Teamgig may store such information itself or such information
                                            may be included in databases owned and maintained by Teamgig affiliates,
                                            agents or service providers. The Services may use such information and pool
                                            it with other information to track, for example, the total number of
                                            visitors to our Site, the number of visitors to each page of our Site, and
                                            the domain names of our visitors' Internet service providers. It is
                                            important to note that no Personal Data is available or used in this
                                            process.</p>
                                        <p data-reactid="360">In operating the Services, we may use a technology called
                                            "cookies." A cookie is a piece of information that the computer that hosts
                                            our Services gives to your browser when you access the Services. Our cookies
                                            help provide additional functionality to the Services and help us analyze
                                            Services usage more accurately. For instance, our Site may set a cookie on
                                            your browser that allows you to access the Services without needing to
                                            remember and then enter a password more than once during a visit to the
                                            Site. In all cases in which we use cookies, we will not collect Personal
                                            Data except with your permission. On most web browsers, you will find a
                                            “help” section on the toolbar. Please refer to this section for information
                                            on how to receive notification when you are receiving a new cookie and how
                                            to turn cookies off. We recommend that you leave cookies turned on because
                                            they allow you to take advantage of some of the Service features.</p>
                                        <p data-reactid="361">Aggregated Personal Data: In an ongoing effort to better
                                            understand and serve the users of the Services, Teamgig often conducts
                                            research on its customer demographics, interests and behavior based on the
                                            Personal Data and other information provided to us. This research may be
                                            compiled and analyzed on an aggregate basis, and Teamgig may share this
                                            aggregate data with its affiliates, agents and business partners. This
                                            aggregate information does not identify you personally. Teamgig may also
                                            disclose aggregated user statistics in order to describe our services to
                                            current and prospective business partners, and to other third parties for
                                            other lawful purposes.</p>
                                        <p data-reactid="362">Third Party Tracking and Analytics: We may allow third
                                            party service providers to use cookies or similar technologies to collect
                                            information about your browsing activities over time and across different
                                            websites following your use of the Services. For example, we may use Google
                                            Analytics, a web analytics service provided by Google, Inc. (“Google”), and
                                            Mixpanel, a mobile and web analytics platform provided by Mixpanel, Inc.
                                            (“Mixpanel”). Google and Mixpanel use cookies or similar technologies to
                                            help us analyze how users function and use our mobile applications and the
                                            Site to improve our Service. We may also implement Google Analytics features
                                            based on Display Advertising (which may include Remarketing with Google
                                            Analytics). Visitors can opt out by using Google’s Ads Settings or going to
                                            <a href="https://tools.google.com/dlpage/gaoptout/"
                                                target="_blank">tools.google.com/dlpage/gaoptout/</a>. To opt-out of
                                            Mixpanel’s collection of your data, go to <a
                                                href="https://mixpanel.com/optout/"
                                                target="_blank">mixpanel.com/optout/</a>. Please note that if you get a
                                            new computer, install a new browser, erase or otherwise alter your browser's
                                            cookie file (including upgrading certain browsers) you may also clear the
                                            Mixpanel opt-out cookie.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_2 data-name="id_2" name="personal-data" data-reactid="363">
                            <div class="Questions__group___1DdkJ" data-reactid="364">
                                <h2 id="personal-data" data-reactid="365">Our Use of Your Personal Data and Other
                                    Information</h2>
                                <div id="personal-data-1" class="Collapse__root___2RXhr basic" data-reactid="366">
                                    <div class="collapse in" data-reactid="367">
                                        <p data-reactid="368">Teamgig uses the Personal Data you provide in a manner
                                            that is consistent with this Privacy Policy.</p>
                                        <p data-reactid="369">If you provide Personal Data for a certain reason, we may
                                            use the Personal Data in connection with the reason for which it was
                                            provided. For instance, if you contact us by email, we will use the Personal
                                            Data you provide to answer your question or resolve your problem. Also, if
                                            you provide Personal Data in order to obtain access to the Services, we will
                                            use your Personal Data to provide you with access to such services and to
                                            monitor your use of such services.</p>
                                        <p data-reactid="370">Teamgig and its subsidiaries and affiliates (the “Related
                                            Companies”) may also use your Personal Data and other personally
                                            non-identifiable information collected through the Services to help us
                                            improve the content and functionality of the Services, to better understand
                                            our users and to improve the Services. Teamgig and its affiliates may use
                                            this information to contact you in the future to tell you about services we
                                            believe will be of interest to you. If we do so, each marketing
                                            communication we send you will contain instructions permitting you to
                                            "opt-out" of receiving future marketing communications. In addition, if at
                                            any time you wish not to receive any future marketing communications or you
                                            wish to have your name deleted from our mailing lists, please contact us as
                                            indicated below.</p>
                                        <p data-reactid="371">If Teamgig intends on using any Personal Data in any
                                            manner that is not consistent with this Privacy Policy, you will be informed
                                            of such anticipated use prior to or at the time at which the Personal Data
                                            is collected.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_3 data-name="id_3" name="disclosure" data-reactid="372">
                            <div class="Questions__group___1DdkJ" data-reactid="373">
                                <h2 id="disclosure" data-reactid="374">Our Disclosure of Your Personal Data and Other
                                    Information</h2>
                                <div id="disclosure-1" class="Collapse__root___2RXhr basic" data-reactid="375">
                                    <div class="collapse in" data-reactid="376">
                                        <p data-reactid="377">Teamgig is not in the business of selling your
                                            information. We consider this information to be a vital part of our
                                            relationship with you. There are, however, certain circumstances in which we
                                            may share your Personal Data with certain third parties without further
                                            notice to you, as set forth below:</p>
                                        <p data-reactid="378">Business Transfers: As we develop our business, we might
                                            sell or buy businesses or assets. In the event of a corporate sale, merger,
                                            reorganization, dissolution or similar event, Personal Data may be part of
                                            the transferred assets.</p>
                                        <p data-reactid="379">Related Companies: We may also share your Personal Data
                                            with our Related Companies for purposes consistent with this Privacy Policy.
                                        </p>
                                        <p data-reactid="380">Agents, Consultants and Related Third Parties: Teamgig,
                                            like many businesses, sometimes hires other companies to perform certain
                                            business-related functions. Examples of such functions include mailing
                                            information, maintaining databases and processing payments. When we employ
                                            another entity to perform a function of this nature, we only provide them
                                            with the information that they need to perform their specific function.</p>
                                        <p data-reactid="381">Legal Requirements: Teamgig may disclose your Personal
                                            Data if required to do so by law or in the good faith belief that such
                                            action is necessary to (i) comply with a legal obligation, (ii) protect and
                                            defend the rights or property of Teamgig, (iii) act in urgent circumstances
                                            to protect the personal safety of users of the Services or the public, or
                                            (iv) protect against legal liability.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_4 data-name="id_4" name="choices" data-reactid="382">
                            <div class="Questions__group___1DdkJ" data-reactid="383">
                                <h2 id="choices" data-reactid="384">Your Choices</h2>
                                <div id="choices-1" class="Collapse__root___2RXhr basic" data-reactid="385">
                                    <div class="collapse in" data-reactid="386">
                                        <p data-reactid="387">You can visit the Site without providing any Personal
                                            Data. If you choose not to provide any Personal Data, you may not be able to
                                            use certain Services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_5 data-name="id_5" name="exclusions" data-reactid="388">
                            <div class="Questions__group___1DdkJ" data-reactid="389">
                                <h2 id="exclusions" data-reactid="390">Exclusions</h2>
                                <div id="exclusions-1" class="Collapse__root___2RXhr basic" data-reactid="391">
                                    <div class="collapse in" data-reactid="392">
                                        <p data-reactid="393">This Privacy Policy does not apply to any Personal Data
                                            collected by Teamgig other than Personal Data collected through the
                                            Services. This Privacy Policy shall not apply to any unsolicited information
                                            you provide to Teamgig through the Services or through any other means. This
                                            includes, but is not limited to, information posted to any public areas of
                                            the Services, such as forums, any ideas for new products or modifications to
                                            existing products, and other unsolicited submissions (collectively,
                                            “Unsolicited Information”). All Unsolicited Information shall be deemed to
                                            be non-confidential and Teamgig shall be free to reproduce, use, disclose,
                                            and distribute such Unsolicited Information to others without limitation or
                                            attribution.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_6 data-name="id_6" name="children" data-reactid="394">
                            <div class="Questions__group___1DdkJ" data-reactid="395">
                                <h2 id="children" data-reactid="396">Children</h2>
                                <div id="children-1" class="Collapse__root___2RXhr basic" data-reactid="397">
                                    <div class="collapse in" data-reactid="398">
                                        <p data-reactid="399">Teamgig does not knowingly collect Personal Data from
                                            children under the age of 13. If you are under the age of 13, please do not
                                            submit any Personal Data through the Services. We encourage parents and
                                            legal guardians to monitor their children’s Internet usage and to help
                                            enforce our Privacy Policy by instructing their children never to provide
                                            Personal Data on the Services without their permission. If you have reason
                                            to believe that a child under the age of 13 has provided Personal Data to
                                            Teamgig through the Services, please contact us, and we will endeavor to
                                            delete that information from our databases.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_7 data-name="id_7" name="links" data-reactid="400">
                            <div class="Questions__group___1DdkJ" data-reactid="401">
                                <h2 id="links" data-reactid="402">Links to Other Web Sites</h2>
                                <div id="links-1" class="Collapse__root___2RXhr basic" data-reactid="403">
                                    <div class="collapse in" data-reactid="404">
                                        <p data-reactid="405">This Privacy Policy applies only to the Services. The
                                            Services may contain links to other web sites not operated or controlled by
                                            Teamgig (the “Third Party Sites”). The policies and procedures we described
                                            here do not apply to the Third Party Sites. The links from the Services do
                                            not imply that Teamgig endorses or has reviewed the Third Party Sites. We
                                            suggest contacting those sites directly for information on their privacy
                                            policies.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_8 data-name="id_8" name="security" data-reactid="406">
                            <div class="Questions__group___1DdkJ" data-reactid="407">
                                <h2 id="security" data-reactid="408">Security</h2>
                                <div id="security-1" class="Collapse__root___2RXhr basic" data-reactid="409">
                                    <div class="collapse in" data-reactid="410">
                                        <p data-reactid="411">Teamgig takes reasonable steps to protect the Personal
                                            Data provided via the Services from loss, misuse, and unauthorized access,
                                            disclosure, alteration, or destruction. However, no Internet or email
                                            transmission is ever fully secure or error free. In particular, email sent
                                            to or from the Services may not be secure. Therefore, you should take
                                            special care in deciding what information you send to us via email. Please
                                            keep this in mind when disclosing any Personal Data to Teamgig via the
                                            Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_9 data-name="id_9" name="other-terms" data-reactid="412">
                            <div class="Questions__group___1DdkJ" data-reactid="413">
                                <h2 id="other-terms" data-reactid="414">Other Terms and Conditions</h2>
                                <div id="other-terms-1" class="Collapse__root___2RXhr basic" data-reactid="415">
                                    <div class="collapse in" data-reactid="416">
                                        <p data-reactid="417">Your access to and use of the Services is subject to the
                                            Terms of Service at <a href="https://teamgig.com/terms-of-use"
                                                target="_blank">teamgig.com/terms-of-use</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div #id_10 data-name="id_10" name="access" data-reactid="418">
                            <div class="Questions__group___1DdkJ" data-reactid="419">
                                <h2 id="access" data-reactid="420">Access to Information; Contacting Teamgig Policy:
                                </h2>
                                <div id="access-1" class="Collapse__root___2RXhr basic" data-reactid="421">
                                    <div class="collapse in" data-reactid="422">
                                        <p data-reactid="423">To keep your Personal Data accurate, current, and
                                            complete, please contact us as specified below. We will take reasonable
                                            steps to update or correct Personal Data in our possession that you have
                                            previously submitted via the Services. Furthermore, please contact us for
                                            any requests for a copy of your user data or to deactivate your account.</p>
                                        <p data-reactid="424">Please also feel free to contact us if you have any
                                            questions about Teamgig’s Privacy Policy or the information practices of the
                                            Services.</p>
                                        <p data-reactid="425">You may contact us as follows: <a
                                                href="mailto:support@teamgig.com">support@teamgig.com</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="container-fluid" data-reactid="426">
        <div class="CallToAction__root___1zXH_ row undefined"
            style="background-image:url(&quot;/assets/img/term_footer_image_1.svg&quot;);"
            data-reactid="427">
            <div class="col-12" data-reactid="428">
                <h2 data-reactid="429">Start your project.</h2>
                <div class="CallToAction__buttons___EkLpP" data-reactid="430"><button title="Get a quote" type="button"
                        class="btn btn-primary blue   " data-reactid="431"><span class="text" title="Get a quote"
                            data-reactid="432">Get a quote</span></button></div>
            </div>
        </div>
    </div>
</div>