<div class="container" data-reactid="377">
    <section class="Difference__why___32GF5 row" data-reactid="378">
        <div class="col-12" data-reactid="379"><label data-reactid="380">{{content.label}}</label>
            <h2 [innerHTML]="content.title" data-reactid="381"></h2>
            <p class="subheading" data-reactid="384">{{content.subText}}</p>
        </div>
        <div class="col-12 table-responsive" data-reactid="385">
                <table class="table" data-reactid="386">
                        <thead data-reactid="387">
                            <tr data-reactid="388">
                                <th data-reactid="389">{{commonContent.tableData.thead[0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="390">{{commonContent.tableData.thead[1]}}</td>
                                <td data-reactid="391">{{commonContent.tableData.thead[2]}}</td>
                                <td data-reactid="392">{{commonContent.tableData.thead[3]}}</td>
                            </tr>
                        </thead>
                        <tbody data-reactid="393">
                            <tr data-reactid="394">
                                <th data-reactid="395">{{commonContent.tableData.tbody[0][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="396">{{commonContent.tableData.tbody[0][1]}}</td>
                                <td data-reactid="397">{{commonContent.tableData.tbody[0][2]}}</td>
                                <td data-reactid="398">{{commonContent.tableData.tbody[0][3]}}</td>
                            </tr>
                            <tr data-reactid="399">
                                <th data-reactid="400">{{commonContent.tableData.tbody[1][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="401">{{commonContent.tableData.tbody[1][1]}}</td>
                                <td data-reactid="402">{{commonContent.tableData.tbody[1][2]}}</td>
                                <td data-reactid="403">{{commonContent.tableData.tbody[1][3]}}</td>
                            </tr>
                            <tr data-reactid="404">
                                <th data-reactid="405">{{commonContent.tableData.tbody[2][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="406"><i
                                        class="Difference__check___37XYG icon-check" data-reactid="407"></i></td>
                                <td data-reactid="408"><i class="Difference__close___CeUty icon-close" data-reactid="409"></i>
                                </td>
                                <td data-reactid="410"><i class="Difference__close___CeUty icon-close" data-reactid="411"></i>
                                </td>
                            </tr>
                            <tr data-reactid="412">
                                <th data-reactid="413">{{commonContent.tableData.tbody[2][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="414">{{commonContent.tableData.tbody[2][1]}}</td>
                                <td data-reactid="415">{{commonContent.tableData.tbody[2][2]}}</td>
                                <td data-reactid="416">{{commonContent.tableData.tbody[2][3]}}</td>
                            </tr>
                            <tr data-reactid="417">
                                <th data-reactid="418">{{commonContent.tableData.tbody[3][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="419"><i
                                        class="Difference__check___37XYG icon-check" data-reactid="420"></i></td>
                                <td data-reactid="421"><i class="Difference__close___CeUty icon-close" data-reactid="422"></i>
                                </td>
                                <td data-reactid="423"><i class="Difference__close___CeUty icon-close" data-reactid="424"></i>
                                </td>
                            </tr>
                            <tr data-reactid="425">
                                <th data-reactid="426">{{commonContent.tableData.tbody[4][0]}}</th>
                                <td class="Difference__teamgig___2R3k5" data-reactid="427">{{commonContent.tableData.tbody[4][1]}}</td>
                                <td data-reactid="428">{{commonContent.tableData.tbody[4][2]}}</td>
                                <td data-reactid="429">{{commonContent.tableData.tbody[4][3]}}</td>
                            </tr>
                        </tbody>
                    </table>
        </div>
    </section>
</div>